<style type="text/css">

</style>
<div class="controlframe">
    @{Html.EJ().Accordion("basicAccordion").ShowRoundedCorner(true).Width("250px").Height("850px").Items(data =>
        {
        data.Add().Text("LMIS").ContentTemplate(@<div>
            <div class="emp-list">
                <b class="headername">MAULT Orders</b><br />
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("ART", "MAULTOrders", "LMIS_ART")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("HIV Test Kits", "MAULTOrders", "LMIS_HIVTestKits")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Laboratory", "MAULTOrders", "LMIS_Laboratory")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("SMC", "MAULTOrders", "LMIS_SMC")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("OI", "MAULTOrders", "LMIS_OISTI")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Viral Load", "MAULTOrders", "LMIS_ViralLoad")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>

                                                     <div class="emp-list">
                                                         <b class="headername">MAULT Allocation</b><br />
                                                         <table class="table">
                                                             <tr>
                                                                 <td>
                                                                     @Html.ActionLink("Allocation", "AllocationIndex", "LMIS_MAULT")
                                                                 </td>
                                                             </tr>
                                                            
                                                             <tr>
                                                                 <td></td>
                                                             </tr>
                                                         </table>
                                                     </div>
                                                     <div class="emp-list">
                                                         <b class="headername">MAULT SAP Export</b><br />
                                                         <table class="table">
                                                             <tr>
                                                                 <td>
                                                                     @Html.ActionLink("SAP Export", "SAPExport", "LMIS_MAULT")
                                                                 </td>
                                                             </tr>

                                                             <tr>
                                                                 <td></td>
                                                             </tr>
                                                         </table>
                                                     </div>
            @*<div class="emp-list">
                <b class="headername">MAULT Queries</b><br />
                <table class="table">
                    <tr>
                        <td>
                            @Html.ActionLink("ART", "QueryMAULT", "LMIS_ART")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("HIV Test Kits", "QueryMAULT", "LMIS_HIVTestKits")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Laboratory", "QueryMAULT", "LMIS_Laboratory")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("SMC", "QueryMAULT", "LMIS_SMC")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("OI", "QueryMAULT", "LMIS_OISTI")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.ActionLink("Viral Load", "QueryMAULT", "LMIS_ViralLoad")
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </div>*@
        </div>);
        data.Add().Text("CCU").ContentTemplate(@<div>
        </div>);
        data.Add().Text("CHSS").ContentTemplate(@<div>
        </div>);
        data.Add().Text("M&E").ContentTemplate(@<div>
        </div>);

        }).HeightAdjustMode(HeightAdjustMode.Content).Render();}
</div>
