<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medical Access Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/ej/web/flat-saffron/ej.web.all.min.css")*@
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/Scripts/ej/ej.web.all.min.js")
    @Scripts.Render("~/Scripts/ej/ej.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

    <style>
        #Wrapper {
            /*background-color: #3F51B5;*/
            z-index: 1;
            height: 500px;
            width: 250px;
            position: fixed;
        }

        #page-content-wrapper {
            margin-left: 260px;
            margin-right: 7px;
        }
    </style>
    <style>
        /*!
        // 3. Loader
        // --------------------------------------------------*/
        .loader {
            top: 45%;
            left: 45%;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: none;
            height: 10%;
            width: 10%;
            margin: auto;
        }

        .strip-holder {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -50px;
            position: relative;
        }

        .strip-1,
        .strip-2,
        .strip-3 {
            width: 15px;
            height: 20px;
            background: #0072bc;
            position: relative;
            -webkit-animation: stripMove 2s ease infinite alternate;
            animation: stripMove 2s ease infinite alternate;
            -moz-animation: stripMove 2s ease infinite alternate;
        }

        .strip-2 {
            -webkit-animation-duration: 2.1s;
            animation-duration: 2.1s;
            background-color: #c9252b;
        }

        .strip-3 {
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            background-color: #01579B;
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }
    </style>


</head>
<body>
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <div class="strip-1"></div>
            <div class="strip-2"></div>
            <div class="strip-3"></div>
        </div>
    </div> 
    <div class="navbar navbar-fixed-top">

        @if (@ViewBag.Dash != "YES")
        {
            @Html.Partial("_LoginPartial")
        }

        @Html.EJ().Menu("mainMenu").Items(items =>
   {
       items.Add().Url(Url.Action("LMISDashboard", "Dashboard")).Text("Home");

       items.Add().Url("#").Text("Customer Care Unit (CCU)").Children(child =>
       {
           //child.Add().Id("ComplaintsCCU1").Url(Url.Action("Complaints", "fo_complaint")).Text("Complaint Report Form");
           child.Add().Id("ComplaintsCCU").Url(Url.Action("CCU_QA", "fo_complaint")).Text("Complaint Report Form");
           //child.Add().Id("ClientFeedbackCCu").Url(Url.Action("ClientFeedback", "fo_ClientFeedback")).Text("Client Feedback");
           //child.Add().Id("ContactPersonCCU").Url(Url.Action("ContactPerson", "fo_contact_person")).Text("Contact Person");
       });


       items.Add().Url("#").Text("M&E").Children(child =>
       {
           //child.Add().Id("ComplaintsCCU").Url(Url.Action("Complaints", "fo_complaint")).Text("Customer Care Unit (CCU)");
       });

       items.Add().Id("ScheduleEvent").Url("#").Text("Schedule Events Calender").Children(child =>
       {
           //child.Add().Id("Register").Url(Url.Action("Register", "Account")).Text("Register Users");
           child.Add().Id("ScheduleEvent1").Url(Url.Action("ScheduleEvent", "ScheduleEvents")).Text("Schedule Events / Tasks");
       });
       items.Add().Id("QAResources").Url("#").Text("Resources").Children(child =>
       {
           //child.Add().Id("Maps2").Url("../GIS_Maps/GISMaps.aspx").Text("GIS Maps");
           child.Add().Id("Maps1").Url(Url.Action("FacilityMap", "Maps")).Text("MAUL Facility Maps");
           child.Add().Id("ManualsQA").Url("#").Text("User Manual").Children(child1 =>
           {
               child1.Add().Id("ManualQA1").Url("../Manual_Facility.pdf").Text("Facility Manual");
               child1.Add().Id("ManualQA2").Url("../Manual_LMIS.pdf").Text("LMIS Manual");
           });
       });


       if (@ViewBag.Dash == "YES")
       {
           items.Add().Id("HSIPLogin1").Url("#").Text("Hello " + User.Identity.Name).Children(child =>
           {
               if (User.IsInRole("Administrator"))
               {
                   //child.Add().Id("Register1").Url(Url.Action("Register", "Account")).Text("Register Users");
                   // child.Add().Id("ManageUsers1").Url(Url.Action("Usermanagement", "Account")).Text("Manage Users");
                   //child.Add().Id("ResetPassword1").Url(Url.Action("ResetPassword", "Account")).Text("Reset Password");
                   child.Add().Id("Logout1").Url(Url.Action("Login", "Account")).Text("Log out");
               }
               else
               {
                   child.Add().Id("ResetPassword2").Url(Url.Action("ResetPassword", "Account")).Text("Reset Password");
                   child.Add().Id("Logout2").Url(Url.Action("Login", "Account")).Text("Log out");
               }

           });
       }

   }).EnableSeparator(false).CssClass("Black-Menu")
    </div>

    <div class="container body-content">
        @RenderSection("BreadCrumb", required: false)
        @RenderBody()
    </div>
    <footer>
        <div class="container body-content">
            <hr />
            <p>&copy; @DateTime.Now.Year - Medical Access Uganda LTD <b style="float:right;"> @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now) </b></p>
        </div>

    </footer>

    @Html.EJ().ScriptManager()
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style type="text/css" class="cssStyles">
        .myclass {
            float: right;
        }
    </style>
    <script>

    </script>

    <style>
        #HSIPLogin1 {
            float: right;
        }
    </style>
    <script type="text/javascript">
        jQuery(function ($) {
            var menuObj = $("#mainMenu").ejMenu({ width: "100%", enableSeparator: false });
        });

    </script>
    <style type="text/css" class="cssStyles">
        #More, #Utilities, #Register, #Help, #ManageUsers, #Sign_In {
            float: right;
        }
    </style>

    <style type="text/css" class="cssStyles">
        .Black-Menu .e-menu, .e-menu.e-horizontal .e-list > ul {
            background: #c9252b;
            font-family: Cambria;
        }

            .Black-Menu .e-menu.e-horizontal .e-list > a {
                color: white;
                font-size: large;
            }
    </style>
    <style>
        .e-grid .e-groupdroparea, /*GroupDropArea */
        .e-grid .e-groupdroparea:hover, /*GroupDropArea Hover*/
        .e-grid .e-cloneproperties, /*Column header clone during dragging header*/
        .e-grid .e-groupheadercell:hover, /*HeaderCell in GroupDropArea*/
        .e-grid td.e-active, /*During Row Selected*/
        /*For pager items and their hover*/
        .e-pager .e-currentitem,
        .e-pager .e-currentitem:hover,
        .e-pager .e-link:hover,
        .e-pager .e-icon:hover {
            background-color: #ea1b8d;
            /*font-size: 12px;*/
        }

        .e-grid .e-gridheader /*For line that separates the grid header and content*/ {
            background: #c9252b;
            font-family: Cambria;
            /*font-size: 12px;*/
        }

        .e-grid tr.e-hover /*For row hover*/ {
            background-color: #e66aae;
            color: #FFFFFF;
            /*font-size: 12px;*/
        }

        .e-grid .e-alt_row /*For Alternate row color*/ {
            background-color: #E5E4E2; /*#99CFE3;*/
            /*font-size: 12px;*/
        }
    </style>

    <style>
        .gridfont, .e-grid .e-headercelldiv {
            /*font-size: 12px;*/
        }

        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
            border-bottom: 1px solid #c8c8c8;
            border-left: 1px solid #c8c8c8;
            /*font-size: 12px;*/
        }

        .e-grid .e-headercell {
            color: whitesmoke;
            background-color: #c9252b;
            font-family: Cambria;
            /*font-weight: 700;*/
            /*font-size: 12px;*/
        }
    </style>
    <style>
        .panel-default > .panel-heading {
            background-color: #0071bc /*#3e1111*/;
            color: white;
            /*font-size: 12px;*/
            /*background-color:silver;*/
            /*color: white;*/
        }
    </style>

    <style type="text/css" class="cssStyles">
        .control {
            margin-left: 30px;
        }

        .ctrllabel {
            padding-top: 15px;
        }

        .control {
            margin-left: 20px;
        }

        /*.frame {
            height: 250px;
            width: 1000px;
        }*/

        /*.frame1 {
            height: 240px;
            width: 900px;
        }*/

        .txt {
            display: block;
            margin-bottom: 12px;
        }
    </style>

    <style>
        #lblComplaintTitle {
            /*font-size: 24px;*/
            background-color: white;
            color: #c9252b;
            vertical-align: top;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .redLabels {
            /*font-size: 24px;*/
            background-color: white;
            color: #ff0000;
            vertical-align: top;
            font-weight: bold;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .myDiv {
            /*font-size: 12px;*/
            background-color: white;
            color: orangered;
            vertical-align: top;
            text-align: center;
            /*width: 700px;*/
        }
    </style>

    <style>
        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
        }

        .custom.e-js .e-header {
            background: #c9252b;
        }

        .custom.e-js .e-content {
            background: #ddd;
        }

        .custom .e-rbn-button.e-btn.e-select {
            background: #f5f5f5;
            color: #333;
        }

        .tabstyle {
            background: #F9F9F9;
            border-radius: 10px;
            border: 1px solid #99CFE3;
            display: block;
            /*font-size: 12px;*/
        }

        .longcolumns {
            width: 600px !important;
            margin: 0 auto !important;
            position: relative !important;
            border-right: 5px #666 outset !important;
            border-left: 5px #666 outset !important;
            /*font-size: 12px;*/
        }
    </style>
</body>
</html>
<script>

    //$(document)
    //    .ajaxStart(function () {
    //        $('#AjaxLoader').show();
    //    })
    //    .ajaxStop(function () {
    //        $('#AjaxLoader').hide();
    //    });
</script>