<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medical Access Application</title>
   @Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@*@Styles.Render("~/Content/ej/web/flat-saffron/ej.web.all.min.css")*@
@Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
@Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
@Scripts.Render("~/Scripts/jquery.validate.min.js")
@Scripts.Render("~/Scripts/jsrender.min.js")
@Scripts.Render("~/Scripts/ej/ej.web.all.min.js")
@Scripts.Render("~/Scripts/ej/ej.unobtrusive.min.js")
@Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
 
    <style>
        .container {
            margin-left: 2%;
            min-width: 1450px;
            width: 100%;
            padding: 0px;
            margin-right: 2%;
            margin-right: -100px;
        }
        #Wrapper {
            /*background-color: #3F51B5;*/
            z-index: 1;
            height: 500px;
            width: 250px;
            position: fixed;
        }

        #page-content-wrapper {
            margin-left: 260px;
            margin-right: 7px;
        }
    </style>
    <style>
        /*!
        // 3. Loader
        // --------------------------------------------------*/
        .loader {
            top: 45%;
            left: 45%;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: none;
            height: 10%;
            width: 10%;
            margin: auto;
        }

        .strip-holder {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -50px;
            position: relative;
        }

        .strip-1,
        .strip-2,
        .strip-3 {
            width: 15px;
            height: 20px;
            background: #0072bc;
            position: relative;
            -webkit-animation: stripMove 2s ease infinite alternate;
            animation: stripMove 2s ease infinite alternate;
            -moz-animation: stripMove 2s ease infinite alternate;
        }

        .strip-2 {
            -webkit-animation-duration: 2.1s;
            animation-duration: 2.1s;
            background-color: #c9252b;
        }

        .strip-3 {
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            background-color: #01579B;
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }
    </style>


</head>
<body>
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <div class="strip-1"></div>
            <div class="strip-2"></div>
            <div class="strip-3"></div>
        </div>
    </div> 
    <div class="navbar navbar-fixed-top">

        @if (@ViewBag.Dash != "YES")
        {
            @Html.Partial("_LoginPartial")
        }

        @Html.EJ().Menu("mainMenu").Items(items =>
   {
       items.Add().Url(Url.Action("FacilityDashboard", "Dashboard")).Text("Home");

       items.Add().Url("#").Text("Place Your Order").Children(child =>
       {
           child.Add().Url("").Text("Custom Orders").Children(child1 =>
           {
               child1.Add().Id("CustomLMIS_FacilityART").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilityART")).Text("ART");
               child1.Add().Id("CustomLMIS_FacilityHIVTestKits").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilityHIVTestKits")).Text("HIV Test Kits");
               child1.Add().Id("CustomLMIS_FacilityLaboratory").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilityLaboratory")).Text("Laboratory");
               child1.Add().Id("CustomLMIS_FacilitySMC").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilitySMC")).Text("SMC");
               child1.Add().Id("CustomLMIS_FacilityOISTI").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilityOISTI")).Text("OIs");//Referral
               child1.Add().Id("CustomLMIS_FacilityViralLoad").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilityViralLoad")).Text("Viral Load");//
               child1.Add().Id("CustomLMIS_FacilityTB").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilityTB")).Text("TB Prophylaxis");//
               child1.Add().Id("CustomLMIS_FacilityRUtf").Url(Url.Action("HSIPCustomOrders", "LMIS_FacilityRUTF")).Text("RUTF");//

           });
           child.Add().Url("").Text("Project Orders").Children(child2 =>
           {
               child2.Add().Url("").Text("Physical Counts").Children(child3 =>
               {
                   child3.Add().Id("PC_ART").Url(Url.Action("PC_ART", "LMIS_Physical_Count")).Text("ART");
                   child3.Add().Id("PC_HIV").Url(Url.Action("PC_HIV", "LMIS_Physical_Count")).Text("HIV Test Kits");
                   child3.Add().Id("PC_Lab").Url(Url.Action("PC_Lab", "LMIS_Physical_Count")).Text("Laboratory");
                   //child3.Add().Id("PC_SMC").Url(Url.Action("PC_SMC", "LMIS_Physical_Count")).Text("SMC");
                   child3.Add().Id("PC_OISTI").Url(Url.Action("PC_OISTI", "LMIS_Physical_Count")).Text("OIs");//Referral
               });

               child2.Add().Url("").Text("Order").Children(child3 =>
               {
                   child3.Add().Id("RoutineLMIS_FacilityART").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilityART")).Text("ART");
                   child3.Add().Id("RoutineLMIS_FacilityHIVTestKits").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilityHIVTestKits")).Text("HIV Test Kits");
                   child3.Add().Id("RoutineLMIS_FacilityLaboratory").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilityLaboratory")).Text("Laboratory");
                   child3.Add().Id("RoutineLMIS_FacilitySMC").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilitySMC")).Text("SMC");
                   child3.Add().Id("RoutineLMIS_FacilityOISTI").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilityOISTI")).Text("OIs");//Referral
                   child3.Add().Id("RoutineLMIS_FacilityViralLoad").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilityViralLoad")).Text("Viral Load");//
                   child3.Add().Id("RoutineLMIS_FacilityTB").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilityTB")).Text("TB Prophylaxis");//
                   child3.Add().Id("RoutineLMIS_FacilityRutf").Url(Url.Action("HSIPRoutineOrders", "LMIS_FacilityRUTF")).Text("RUTF");//

               });

           });
       });
       items.Add().Id("TrackOrder").Url("#").Text("Track Your Order").Children(child =>
       {
           child.Add().Id("Track_CurrentOrder").Url(Url.Action("Current_OrderTracking", "OrderTracking")).Text("Track Your Order");
           child.Add().Id("Report").Url(Url.Action("OrderTrackingIndex", "ReportsModule")).Text("Order Status Report");
           //child.Add().Id("Track_Order").Url(Url.Action("OrderTracking", "OrderTracking")).Text("Order Status History");

       });

       items.Add().Id("Reports").Url("#").Text("Reports").Children(child =>
       {
           //child.Add().Id("Report").Url(Url.Action("OrderTrackingIndex", "ReportsModule")).Text("Order Status Report");
           child.Add().Url("").Text("Physical Count Reports").Children(child1 =>
           {
               child1.Add().Id("PC_ART_Report").Url(Url.Action("PCARTIndex", "ReportsModule")).Text("ART");
               child1.Add().Id("PC_Lab_Report").Url(Url.Action("PC_HIVTEST_Index", "ReportsModule")).Text("HIV Test Kits / Laboratoty");
               child1.Add().Id("PC_OIs_Report").Url(Url.Action("PC_OIsIndex", "ReportsModule")).Text("OIs");
               child1.Add().Id("PC_SMC_Report").Url(Url.Action("PC_SMCIndex", "ReportsModule")).Text("SMC");

           });

           child.Add().Url("").Text("Order Reports").Children(child1 =>
           {
               child1.Add().Id("order_art").Url(Url.Action("ART_Index", "ReportsModule")).Text("ART");
               child1.Add().Id("order_hiv").Url(Url.Action("HIV_Index", "ReportsModule")).Text("HIV Test Kits");
               child1.Add().Id("order_lab").Url(Url.Action("Lab_Index", "ReportsModule")).Text("Laboratory");
               child1.Add().Id("order_oi").Url(Url.Action("OIs_Index", "ReportsModule")).Text("OIs");
               child1.Add().Id("order_smc").Url(Url.Action("SMC_Index", "ReportsModule")).Text("SMC");
               child1.Add().Id("order_vl").Url(Url.Action("ViralLoadReagents_Index", "ReportsModule")).Text("Viral Loads");
           });
       });


       items.Add().Id("CustomerFeedback").Url("#").Text("Customer Feedback").Children(child =>
       {
           child.Add().Id("ClientFeedbackCCu").Url(Url.Action("ClientFeedback", "fo_ClientFeedback")).Text("Feedback Report");
           child.Add().Id("CCUComplaintHandling").Url(Url.Action("FacilityCCU", "fo_complaint")).Text("Lodge your Complaint");
           child.Add().Id("CCUComplaintTracking").Url(Url.Action("ComplaintTracker", "fo_complaint")).Text("Track your Complaint");
           child.Add().Id("FAQs").Url("#").Text("FAQs");

       });
       //Customer Feedback

       items.Add().Id("downloads").Url("#").Text("Resources").Children(child =>
       {
           child.Add().Url("").Text("Health Facility SOPS").Children(child1 =>
           {
               child1.Add().Id("Proper_Storage_Doc").Url(Url.Action("Proper_Storage", "UserDownload")).Text("Guidelines for Proper Storage of Drugs and Medical Supplies");
               child1.Add().Id("WasteHandling_Doc").Url(Url.Action("WasteHandling", "UserDownload")).Text("Health Care Waste Handling");
               child1.Add().Id("IssuingSupplies_Doc").Url(Url.Action("IssuingSupplies", "UserDownload")).Text("Issuing Supplies from Health Facility Medicines Store");
               child1.Add().Id("DispencingMedicine_Doc").Url(Url.Action("DispencingMedicine", "UserDownload")).Text("Procedure for Dispencing Medicine");
               child1.Add().Id("PersonalHygine_Doc").Url(Url.Action("PersonalHygine", "UserDownload")).Text("Procedure for House Keeping And Personal Hygiene");
               child1.Add().Id("ExpiredDrugs_Doc").Url(Url.Action("ExpiredDrugs", "UserDownload")).Text("Procedure for Retrieving Expired Medicines");
               child1.Add().Id("HandlingDrugExpires_Doc").Url(Url.Action("HandlingDrugExpires", "UserDownload")).Text("Procedure for Tracking and Handling Drugs Expiries");
               child1.Add().Id("FacilityStores_Doc").Url(Url.Action("FacilityStores", "UserDownload")).Text("Recieving Medicines & Supplies in the Health Facility Stores");
               child1.Add().Id("SOP4Conducting_Doc").Url(Url.Action("SOP4Conducting", "UserDownload")).Text("SOP for Conducting a DQA at the Health Facility");
               child1.Add().Id("SOP4Emergency_Doc").Url(Url.Action("SOP4Emergency", "UserDownload")).Text("SOP for Emergency Ordering");
               child1.Add().Id("SOP4EquipmentMaintenance_Doc").Url(Url.Action("SOP4EquipmentMaintenance", "UserDownload")).Text("SOP for Equipment Maintenance");
               child1.Add().Id("SOP4Ordering_Doc").Url(Url.Action("SOP4Ordering", "UserDownload")).Text("SOP for Ordering & Reporting");
               child1.Add().Id("SOPOrdering_Reporting_Doc").Url(Url.Action("SOPOrdering_Reporting", "UserDownload")).Text("SOP Ordering & Reporting");

           });

           child.Add().Url("").Text("LMIS Tools").Children(child1 =>
           {
               child1.Add().Id("ART_Doc").Url(Url.Action("ART", "UserDownload")).Text("ART & E-MTCT Order Template");
               child1.Add().Id("LAB_Doc").Url(Url.Action("Lab", "UserDownload")).Text("E. S. LAB Order Template");
               child1.Add().Id("HIV_Doc").Url(Url.Action("HIV", "UserDownload")).Text("HIV Test Kits Order Template");
               child1.Add().Id("OIs_Doc").Url(Url.Action("OIs", "UserDownload")).Text("OI -STI Order Template");
               child1.Add().Id("SMC_Doc").Url(Url.Action("SMC", "UserDownload")).Text("SMC Template");
               child1.Add().Id("VL_Doc").Url(Url.Action("VL", "UserDownload")).Text("Viral Load Template");

           });
           child.Add().Id("ManualsH").Url("#").Text("User Manual").Children(child1 =>
           {
               child1.Add().Id("ManualH1").Url("../Manual_Facility.pdf").Text("Facility Manual");
               //child.Add().Id("Manual2").Url("../Manual_LMIS.pdf").Text("LMIS Manual");
           });

       });
       if (@ViewBag.Dash == "YES")
       {
           items.Add().Url("#").Id("HSIPLogin3").Text("Hello " + User.Identity.Name).Children(child =>
           {
               if (User.IsInRole("Administrator"))
               {
                   //child.Add().Id("Register1").Url(Url.Action("Register", "Account")).Text("Register Users");
                   // child.Add().Id("ManageUsers1").Url(Url.Action("Usermanagement", "Account")).Text("Manage Users");
                   //child.Add().Id("ResetPassword1").Url(Url.Action("ResetPassword", "Account")).Text("Reset Password");
                   child.Add().Id("Logout1").Url(Url.Action("Login", "Account")).Text("Log out");
               }
               else
               {
                   child.Add().Id("ResetPassword2").Url(Url.Action("ResetPassword", "Account")).Text("Reset Password");
                   child.Add().Id("Logout2").Url(Url.Action("Login", "Account")).Text("Log out");
               }

           });
       }
       //items.Add().Id("Utilities").Url("#").Text("Reset Password").Children(child =>
       //{
       //    child.Add().Id("ResetPassword").Url(Url.Action("ResetPassword", "Account")).Text("Reset Password");


       //});


   }).EnableSeparator(false).CssClass("Black-Menu")
    </div>

    <div class="container body-content">
        @RenderSection("BreadCrumb", required: false)
        @RenderBody()
    </div>
    <footer>
        <div class="container body-content">
            <hr />
            <p>&copy; @DateTime.Now.Year - Medical Access Uganda LTD <b style="float:right;"> @String.Format("{0 : dddd,d MMMM, yyyy}", DateTime.Now) </b></p>
        </div>

    </footer>

    @Html.EJ().ScriptManager()
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style type="text/css" class="cssStyles">
        .myclass {
            float: right;
        }
    </style>
    <style>
        #HSIPLogin3 {
            float: right;
        }
    </style>
    <script>

    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            var menuObj = $("#mainMenu").ejMenu({ width: "100%", enableSeparator: false });
        });

    </script>
    <style type="text/css" class="cssStyles">
        #More, #Utilities, #Register, #Help, #ManageUsers, #Sign_In {
            float: right;
        }
    </style>

    <style type="text/css" class="cssStyles">
        
        .Black-Menu .e-menu, .e-menu.e-horizontal .e-list > ul {
            background: #c9252b;
            font-family:Cambria;
        }

            .Black-Menu .e-menu.e-horizontal .e-list > a {
                color: white;
                font-size: large;
            }
    </style>
    <style>
        .e-grid .e-groupdroparea, /*GroupDropArea */
        .e-grid .e-groupdroparea:hover, /*GroupDropArea Hover*/
        .e-grid .e-cloneproperties, /*Column header clone during dragging header*/
        .e-grid .e-groupheadercell:hover, /*HeaderCell in GroupDropArea*/
        .e-grid td.e-active, /*During Row Selected*/
        /*For pager items and their hover*/
        .e-pager .e-currentitem,
        .e-pager .e-currentitem:hover,
        .e-pager .e-link:hover,
        .e-pager .e-icon:hover {
            background-color: #ea1b8d;
            /*font-size: 12px;*/
        }

        .e-grid .e-gridheader /*For line that separates the grid header and content*/ {
            border-bottom-color: #c9252b;
            font-family: Cambria;
            /*font-size: 12px;*/
        }

        .e-grid tr.e-hover /*For row hover*/ {
            background-color: #e66aae;
            color: #FFFFFF;
            /*font-size: 12px;*/
        }

        .e-grid .e-alt_row /*For Alternate row color*/ {
            background-color: #E5E4E2; /*#99CFE3;*/
            /*font-size: 12px;*/
        }
    </style>

    <style>
        .gridfont, .e-grid .e-headercelldiv {
            /*font-size: 12px;*/
        }
        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
            border-bottom: 1px solid #c8c8c8;
            border-left: 1px solid #c8c8c8;
            /*font-size: 12px;*/
        }

        .e-grid .e-headercell {
            color: whitesmoke;
            background-color: #c9252b;
            font-family: Cambria;
            /*font-weight: 700;*/
            /*font-size: 12px;*/
        }
    </style>
    <style>
        .panel-default > .panel-heading {
            background-color: #0071bc /*#3e1111*/;
            color: white;
            /*font-size: 12px;*/
            /*background-color:silver;*/
            /*color: white;*/
        }
    </style>

    <style type="text/css" class="cssStyles">
        .control {
            margin-left: 30px;
        }

        .ctrllabel {
            padding-top: 15px;
        }

        .control {
            margin-left: 20px;
        }

        /*.frame {
            height: 250px;
            width: 1000px;
        }*/

        /*.frame1 {
            height: 240px;
            width: 900px;
        }*/

        .txt {
            display: block;
            margin-bottom: 12px;
        }
    </style>

    <style>
        #lblComplaintTitle {
            /*font-size: 24px;*/
            background-color: white;
            color: darkred;
            vertical-align: top;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .redLabels {
            /*font-size: 24px;*/
            background-color: white;
            color: #ff0000;
            vertical-align: top;
            font-weight: bold;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .myDiv {
            /*font-size: 12px;*/
            background-color: white;
            color: orangered;
            vertical-align: top;
            text-align: center;
            /*width: 700px;*/
        }
    </style>

    <style>
        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
        }

        .custom.e-js .e-header {
            background: #c9252b;
        }

        .custom.e-js .e-content {
            background: #ddd;
        }

        .custom .e-rbn-button.e-btn.e-select {
            background: #f5f5f5;
            color: #333;
        }

        .tabstyle {
            background: #F9F9F9;
            border-radius: 10px;
            border: 1px solid #99CFE3;
            display: block;
            /*font-size: 12px;*/
        }

        .longcolumns {
            width: 600px !important;
            margin: 0 auto !important;
            position: relative !important;
            border-right: 5px #666 outset !important;
            border-left: 5px #666 outset !important;
            /*font-size: 12px;*/
        }
    </style>
</body>
</html>
<script>

    //$(document)
    //    .ajaxStart(function () {
    //        $('#AjaxLoader').show();
    //    })
    //    .ajaxStop(function () {
    //        $('#AjaxLoader').hide();
    //    });
</script>