<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Medical Access Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Styles.Render("~/Content/ej/web/flat-saffron/ej.web.all.min.css")*@
    @Styles.Render("~/Content/ej/web/bootstrap-theme/ej.web.all.min.css")
    @Scripts.Render("~/Scripts/jquery-3.1.1.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jsrender.min.js")
    @Scripts.Render("~/Scripts/ej/ej.web.all.min.js")
    @Scripts.Render("~/Scripts/ej/ej.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")

    <style>
        #Wrapper {
            /*background-color: #3F51B5;*/
            z-index: 1;
            height: 500px;
            width: 250px;
            position: fixed;
        }

        #page-content-wrapper {
            margin-left: 260px;
            margin-right: 7px;
        }
    </style>
    <style>
        /*!
        // 3. Loader
        // --------------------------------------------------*/
        .loader {
            top: 45%;
            left: 45%;
            position: fixed;
            opacity: 0.8;
            z-index: 10000000;
            background: none;
            height: 10%;
            width: 10%;
            margin: auto;
        }

        .strip-holder {
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            left: 50%;
            margin-left: -50px;
            position: relative;
        }

        .strip-1,
        .strip-2,
        .strip-3 {
            width: 15px;
            height: 20px;
            background: #0072bc;
            position: relative;
            -webkit-animation: stripMove 2s ease infinite alternate;
            animation: stripMove 2s ease infinite alternate;
            -moz-animation: stripMove 2s ease infinite alternate;
        }

        .strip-2 {
            -webkit-animation-duration: 2.1s;
            animation-duration: 2.1s;
            background-color: #c9252b;
        }

        .strip-3 {
            -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
            background-color: #01579B;
        }

        @@-webkit-keyframes stripMove {
            0% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }
        }

        @@-moz-keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }

        @@keyframes stripMove {
            0% {
                transform: translate3d(-50px, 0px, 0px);
                -webkit-transform: translate3d(-50px, 0px, 0px);
                -moz-transform: translate3d(-50px, 0px, 0px);
            }

            50% {
                transform: translate3d(0px, 0px, 0px);
                -webkit-transform: translate3d(0px, 0px, 0px);
                -moz-transform: translate3d(0px, 0px, 0px);
                transform: scale(4, 1);
                -webkit-transform: scale(4, 1);
                -moz-transform: scale(4, 1);
            }

            100% {
                transform: translate3d(50px, 0px, 0px);
                -webkit-transform: translate3d(50px, 0px, 0px);
                -moz-transform: translate3d(50px, 0px, 0px);
            }
        }
    </style>


</head>
<body>
    <div class="loader" id="AjaxLoader" style="display:none;">
        <div class="strip-holder">
            <div class="strip-1"></div>
            <div class="strip-2"></div>
            <div class="strip-3"></div>
        </div>
    </div> 
    <div class="navbar navbar-fixed-top">

        @if (@ViewBag.Dash != "YES")
        {
            @Html.Partial("_LoginPartial")
        }

        @Html.EJ().Menu("mainMenu").Items(items =>
   {
       items.Add().Url(Url.Action("LMISDashboard", "Dashboard")).Text("Home");
       items.Add().Url("#").Text("LMIS").Children(child => {
           child.Add().Id("Approvals").Url("#").Text("Order Approvals").Children(child1 =>
           {
               child1.Add().Url("#").Text("Custom HSIP Orders").Children(child2 =>
               {
                   child2.Add().Id("LMIS_ART1").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_ART")).Text("ART");
                   child2.Add().Id("LMIS_HIVTestKits1").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_HIVTestKits")).Text("HIV Test Kits");
                   child2.Add().Id("LMIS_Laboratory1").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_Laboratory")).Text("Laboratory");
                   child2.Add().Id("LMIS_SMC1").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_SMC")).Text("SMC");
                   child2.Add().Id("LMIS_OISTI1").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_OISTI")).Text("OIs");//Referral
                   child2.Add().Id("LMIS_ViralLoad1").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_ViralLoad")).Text("Viral Load");//
                   child2.Add().Id("LMIS_TB1").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_TB")).Text("TB Prophylaxis");//
                   child2.Add().Id("LMIS_LMIS_RUTF").Url(Url.Action("SAPExportHSIP_CustomCordinator", "LMIS_RUTF")).Text("RUTF");//

               });
               child1.Add().Url("#").Text("Project Orders").Children(child2 =>
               {
                   child2.Add().Id("LMIS_ART").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_ART")).Text("ART");
                   child2.Add().Id("LMIS_HIVTestKits").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_HIVTestKits")).Text("HIV Test Kits");
                   child2.Add().Id("LMIS_Laboratory").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_Laboratory")).Text("Laboratory");
                   child2.Add().Id("LMIS_SMC").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_SMC")).Text("SMC");
                   child2.Add().Id("LMIS_OISTI").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_OISTI")).Text("OIs");//Referral
                   child2.Add().Id("LMIS_ViralLoad").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_ViralLoad")).Text("Viral Load");//
                   child2.Add().Id("LMIS_TB").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_TB")).Text("TB Prophylaxis");//
                   child2.Add().Id("LMIS_ruft").Url(Url.Action("SAPExportHSIP_Cordinator", "LMIS_RUTF")).Text("RUTF");//

               });

           });
           child.Add().Id("Edit21").Url("").Text("Edit").Children(child2 =>
           {
               child2.Add().Url("").Text("Custom Orders").Children(child7 =>
               {
                   child7.Add().Id("EditCustomLMIS_ART1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_ART")).Text("ART");
                   child7.Add().Id("EditCustomLMIS_HIVTestKits1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_HIVTestKits")).Text("HIV Test Kits");
                   child7.Add().Id("EditCustomLMIS_Laboratory1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_Laboratory")).Text("Laboratory");
                   child7.Add().Id("EditCustomLMIS_SMC1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_SMC")).Text("SMC");
                   child7.Add().Id("EditCustomLMIS_OISTI1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_OISTI")).Text("OIs");//Referral
                   child7.Add().Id("EditCustomLMIS_ViralLoad1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_ViralLoad")).Text("Viral Load");//
                   child7.Add().Id("EditCustomLMIS_TB1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_TB")).Text("TB Prophylaxis");//
                   child7.Add().Id("EditCustomLMIS_r1").Url(Url.Action("Edit_HSIPCustomOrders", "LMIS_RUTF")).Text("RUTF");//

               });
               child2.Add().Url("").Text("Project Orders").Children(child3 =>
               {

                   child3.Add().Url("").Text("Routine Orders").Children(child7 =>
                   {
                       child7.Add().Id("EditRoutineLMIS_ART1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_ART")).Text("ART");
                       child7.Add().Id("EditRoutineLMIS_HIVTestKits1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_HIVTestKits")).Text("HIV Test Kits");
                       child7.Add().Id("EditRoutineLMIS_Laboratory1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_Laboratory")).Text("Laboratory");
                       child7.Add().Id("EditRoutineLMIS_SMC1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_SMC")).Text("SMC");
                       child7.Add().Id("EditRoutineLMIS_OISTI1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_OISTI")).Text("OIs");//Referral
                       child7.Add().Id("EditRoutineLMIS_ViralLoad1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_ViralLoad")).Text("Viral Load");//
                       child7.Add().Id("EditRoutineLMIS_TB1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_TB")).Text("TB Prophylaxis");//
                       child7.Add().Id("EditRoutineLMIS_r1").Url(Url.Action("Edit_HSIPRoutineOrders", "LMIS_RUTF")).Text("RUTF");//

                   });

                   child3.Add().Url("").Text("Emergency Orders").Children(child7 =>
                   {
                       child7.Add().Id("EditEmergencyLMIS_ART1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_ART")).Text("ART");
                       child7.Add().Id("EditEmergencyLMIS_HIVTestKits1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_HIVTestKits")).Text("HIV Test Kits");
                       child7.Add().Id("EditEmergencyLMIS_Laboratory1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_Laboratory")).Text("Laboratory");
                       child7.Add().Id("EditEmergencyLMIS_SMC1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_SMC")).Text("SMC");
                       child7.Add().Id("EditEmergencyLMIS_OISTI1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_OISTI")).Text("OIs");//Referral
                       child7.Add().Id("EditEmergencyLMIS_ViralLoad1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_ViralLoad")).Text("Viral Load");//
                       child7.Add().Id("EditEmergencyLMIS_TB1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_TB")).Text("TB Prophylaxis");//
                       child7.Add().Id("EditEmergencyLMIS_r1").Url(Url.Action("Edit_HSIPRoutineOrders_Emergency", "LMIS_RUTF")).Text("RUTF");//

                   });
               });

           });
           child.Add().Id("Queries21").Url("").Text("Queries").Children(child2 =>
           {
               child2.Add().Id("QueriesProducts1").Url(Url.Action("All_Products_Index", "Queries")).Text("All Products");//Queries
               child2.Add().Id("OrderQueries1").Url("#").Text("Order Queries").Children(child5 =>
               {
                   child5.Add().Id("QueriesART1").Url("#").Text("ART").Children(child6 =>
                   {
                       child6.Add().Id("QueriesART11").Url(Url.Action("ART_Index", "Queries")).Text("ART Order");
                       child6.Add().Id("QueriesART21").Url(Url.Action("FluconazoleQuery", "Queries")).Text("Fluconzale");
                       child6.Add().Id("QueriesART31").Url(Url.Action("PatientQuery", "Queries")).Text("Patient Numbers");
                   });
                   child5.Add().Id("QueriesHIV11").Url("#").Text("HIV Test Kits").Children(child6 =>
                   {
                       child6.Add().Id("QueriesHIV1").Url(Url.Action("TestKits_Index", "Queries")).Text("HIV Order");
                       child6.Add().Id("QueriesHIVSummary1").Url(Url.Action("TestKitsSummary_Index", "Queries")).Text("HIV Test");
                   });
                   child5.Add().Id("QueriesLAB1").Url(Url.Action("Laboratory_Index", "Queries")).Text("Laboratory");
                   child5.Add().Id("QueriesSMC11").Url("#").Text("SMC").Children(child6 =>
                   {
                       child6.Add().Id("QueriesSMC1").Url(Url.Action("SMC_Index", "Queries")).Text("SMC Order");
                       child6.Add().Id("QueriesSMCSummary1").Url(Url.Action("SMCSummary_Index", "Queries")).Text("SMC Summary Circumcised");
                   });
                   child5.Add().Id("QueriesOI1").Url(Url.Action("OISI_Index", "Queries")).Text("OIs");//Referral
                   child5.Add().Id("QueriesVL11").Url("#").Text("Viral Load").Children(child6 =>
                   {
                       child6.Add().Id("QueriesVL1").Url(Url.Action("Viralload_Index", "Queries")).Text("Viral Load Order");
                       child6.Add().Id("QueriesVLSummary1").Url(Url.Action("ViralloadSummary_Index", "Queries")).Text("Tests Done");
                   });
                   child5.Add().Id("QueriesTB11").Url("#").Text("TB Prophylaxis").Children(child6 =>
                   {
                       child6.Add().Id("QueriesTB1").Url(Url.Action("TB_Index", "Queries")).Text("TB Prophylaxis Order");
                       child6.Add().Id("QueriesTBSummary1").Url(Url.Action("TBSummary_Index", "Queries")).Text("TB Prophylaxis Summary");
                   });
                   child5.Add().Id("QueriesRuft11").Url("#").Text("RUTF").Children(child6 =>
                   {
                       child6.Add().Id("QueriesRuft1").Url(Url.Action("Ruft_Index", "Queries")).Text("RUTF Order");
                       child6.Add().Id("QueriesRuftSummary1").Url(Url.Action("RuftSummary_Index", "Queries")).Text("RUTF Summaries");
                   });

               });
               child2.Add().Id("PhysicalCountQueries1").Url("#").Text("Physical Count Queries").Children(child5 =>
               {
                   child5.Add().Id("QueriesPART1").Url(Url.Action("QueryHSIPPhysicalCount", "LMIS_ART")).Text("ART");
                   child5.Add().Id("QueriesPHIV1").Url(Url.Action("QueryHSIPPhysicalCount", "LMIS_HIVTestKits")).Text("HIV Test Kits");
                   child5.Add().Id("QueriesPLAB1").Url(Url.Action("QueryHSIPPhysicalCount", "LMIS_Laboratory")).Text("Laboratory");
                   child5.Add().Id("QueriesPSMC1").Url(Url.Action("QueryHSIPPhysicalCount", "LMIS_SMC")).Text("SMC");
                   child5.Add().Id("QueriesPOI1").Url(Url.Action("QueryHSIPPhysicalCount", "LMIS_OISTI")).Text("OIs");//Referral
                                                                                                                      // child1.Add().Id("QueriesPVL").Url(Url.Action("QueryHSIPPhysicalCount", "LMIS_ViralLoad")).Text("Viral Load");//

               });
           });
           child.Add().Id("TrackOrder").Url("#").Text("Track Your Order").Children(child1 =>
           {
               child1.Add().Id("TCurrentOrder").Url(Url.Action("Codinator_OrderTracking", "OrderTracking")).Text("Track Your Order");

           });

       });
       items.Add().Id("Resources").Url("#").Text("Resources").Children(child =>
       {
           //child.Add().Id("Maps2").Url("../GIS_Maps/GISMaps.aspx").Text("GIS Maps");
           child.Add().Id("Maps1").Url(Url.Action("FacilityMap", "Maps")).Text("MAUL Facility Maps");
           child.Add().Id("ManualsCO").Url("#").Text("User Manual").Children(child1 =>
           {
               child1.Add().Id("ManualCO1").Url("../Manual_Facility.pdf").Text("Facility Manual");
               child1.Add().Id("ManualCO2").Url("../Manual_LMIS.pdf").Text("LMIS Manual");
           });
       });
       if (@ViewBag.Dash == "YES")
       {
           items.Add().Id("HSIPLogin4").Url("#").Text("Hello " + User.Identity.Name).Children(child =>
           {
               if (User.IsInRole("Administrator"))
               {
                   //child.Add().Id("Register1").Url(Url.Action("Register", "Account")).Text("Register Users");
                   // child.Add().Id("ManageUsers1").Url(Url.Action("Usermanagement", "Account")).Text("Manage Users");
                   //child.Add().Id("ResetPassword1").Url(Url.Action("ResetPassword", "Account")).Text("Reset Password");
                   child.Add().Id("Logout1").Url(Url.Action("Login", "Account")).Text("Log out");
               }
               else
               {
                   child.Add().Id("ResetPassword2").Url(Url.Action("ResetPassword", "Account")).Text("Reset Password");
                   child.Add().Id("Logout2").Url(Url.Action("Login", "Account")).Text("Log out");
               }

           });
       }

   }).EnableSeparator(false).CssClass("Black-Menu")
    </div>

    <div class="container body-content">
        @RenderSection("BreadCrumb", required: false)
        @RenderBody()
    </div>
    <footer>
        <div class="container body-content">
            <hr />
            <p>&copy; @DateTime.Now.Year - Medical Access Uganda LTD <b style="float:right;"> @String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now) </b></p>
        </div>

    </footer>

    @Html.EJ().ScriptManager()
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style type="text/css" class="cssStyles">
        .myclass {
            float: right;
        }
    </style>
    <style>
        #HSIPLogin4 {
            float: right;
        }
    </style>
    <script>

    </script>

    <script type="text/javascript">
        jQuery(function ($) {
            var menuObj = $("#mainMenu").ejMenu({ width: "100%", enableSeparator: false });
        });

    </script>
    <style type="text/css" class="cssStyles">
        #More, #Utilities, #Register, #Help, #ManageUsers, #Sign_In {
            float: right;
        }
    </style>

    <style type="text/css" class="cssStyles">
        .Black-Menu .e-menu, .e-menu.e-horizontal .e-list > ul {
            background: #c9252b;
            font-family: Cambria;
        }

            .Black-Menu .e-menu.e-horizontal .e-list > a {
                color: white;
                color: whitesmoke;
                font-size: large;
            }
    </style>
    <style>
        .e-grid .e-groupdroparea, /*GroupDropArea */
        .e-grid .e-groupdroparea:hover, /*GroupDropArea Hover*/
        .e-grid .e-cloneproperties, /*Column header clone during dragging header*/
        .e-grid .e-groupheadercell:hover, /*HeaderCell in GroupDropArea*/
        .e-grid td.e-active, /*During Row Selected*/
        /*For pager items and their hover*/
        .e-pager .e-currentitem,
        .e-pager .e-currentitem:hover,
        .e-pager .e-link:hover,
        .e-pager .e-icon:hover {
            background-color: #ea1b8d;
            /*font-size: 12px;*/
        }

        .e-grid .e-gridheader /*For line that separates the grid header and content*/ {
            border-bottom-color: #c9252b;
            font-family: Cambria;
            color: whitesmoke;
            font-size: medium;
        }

        .e-grid tr.e-hover /*For row hover*/ {
            background-color: #e66aae;
            color: #FFFFFF;
            /*font-size: 12px;*/
        }

        .e-grid .e-alt_row /*For Alternate row color*/ {
            background-color: #E5E4E2; /*#99CFE3;*/
            /*font-size: 12px;*/
        }
    </style>

    <style>
        .gridfont, .e-grid .e-headercelldiv {
            /*font-size: 12px;*/
        }

        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
            border-bottom: 1px solid #c8c8c8;
            border-left: 1px solid #c8c8c8;
            /*font-size: 12px;*/
        }

        .e-grid .e-headercell {
            color: whitesmoke;
            background-color: #c9252b;
            /*font-weight: 700;*/
            /*font-size: 12px;*/
        }
    </style>
    <style>
        .panel-default > .panel-heading {
            background-color: #0071bc /*#3e1111*/;
            color: white;
            /*font-size: 12px;*/
            /*background-color:silver;*/
            /*color: white;*/
        }
    </style>

    <style type="text/css" class="cssStyles">
        .control {
            margin-left: 30px;
        }

        .ctrllabel {
            padding-top: 15px;
        }

        .control {
            margin-left: 20px;
        }

        /*.frame {
            height: 250px;
            width: 1000px;
        }*/

        /*.frame1 {
            height: 240px;
            width: 900px;
        }*/

        .txt {
            display: block;
            margin-bottom: 12px;
        }
    </style>

    <style>
        #lblComplaintTitle {
            /*font-size: 24px;*/
            background-color: white;
            color: #c9252b;
            vertical-align: top;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .redLabels {
            /*font-size: 24px;*/
            background-color: white;
            color: #ff0000;
            vertical-align: top;
            font-weight: bold;
            /*font-size: 12px;*/
            /*width: 700px;*/
        }

        .myDiv {
            /*font-size: 12px;*/
            background-color: white;
            color: orangered;
            vertical-align: top;
            text-align: center;
            /*width: 700px;*/
        }
    </style>

    <style>
        .e-grid .e-dialog .gridform .e-rowcell {
            padding: .5em;
        }

        .custom.e-js .e-header {
            background: #c9252b;
        }

        .custom.e-js .e-content {
            background: #ddd;
        }

        .custom .e-rbn-button.e-btn.e-select {
            background: #f5f5f5;
            color: #333;
        }

        .tabstyle {
            background: #F9F9F9;
            border-radius: 10px;
            border: 1px solid #99CFE3;
            display: block;
            /*font-size: 12px;*/
        }

        .longcolumns {
            width: 600px !important;
            margin: 0 auto !important;
            position: relative !important;
            border-right: 5px #666 outset !important;
            border-left: 5px #666 outset !important;
            /*font-size: 12px;*/
        }
    </style>
</body>
</html>
<script>

    //$(document)
    //    .ajaxStart(function () {
    //        $('#AjaxLoader').show();
    //    })
    //    .ajaxStop(function () {
    //        $('#AjaxLoader').hide();
    //    });
</script>