
@{
    ViewBag.Title = "UploadDocuments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>UploadDocuments</h2>*@


<div class="panel panel-primary" @*style="width: 500px;height:200px;"*@>
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Upload Documents</b>
        </h3>
    </div>

    <div class="panel-body">
        @if (ViewData["SuccessMsg"] != null)
        {
            <p class="alert alert-success" id="successMessage">@ViewData["SuccessMsg"] </p>
        }
    </div>


    <div id="targetElement" class="posupload" style="width: 500px;height:400px;">

        <table cellspacing="3">
            <tr hidden="hidden">
                <td style="text-align: left"> <input type="text" id="Id" name="Id" value="{{:Id}}" class="e-field e-ejinputtext valid" /></td>
                <td style="text-align: left"> <input type="text" id="e_reg_complaint_code" name="e_reg_complaint_code" value="{{:e_reg_complaint_code}}" class="e-field e-ejinputtext valid" /></td>
            </tr>
            <tr hidden="hidden">
                <td style="text-align: left"> <input type="text" id="batch_no" name="batch_no" value="{{:batch_no}}" class="e-field e-ejinputtext valid" /></td>
                <td style="text-align: left"> <input type="text" id="product_code" name="product_code" value="{{:product_code}}" class="e-field e-ejinputtext valid" /></td>
            </tr>
            <tr hidden="hidden">
                <td style="text-align: left"> <input type="text" id="QualityIssue_code" name="QualityIssue_code" value="{{:QualityIssue_code}}" class="e-field e-ejinputtext valid" /></td>
            </tr>
            <tr hidden="hidden">
                <td style="text-align: left" colspan="2"> <input type="text" id="FileURL" name="FileURL" value="{{:FileURL}}" class="e-field e-ejinputtext valid" /></td>
            </tr>
            <tr>
                <td style="text-align: right;">
                    Select File for Upload
                </td>
                <td style="text-align: justify">

                    @Html.EJ().Uploadbox("UploadDefault").SaveUrl("SaveDefault").RemoveUrl("RemoveDefault").AsyncUpload(false)
                </td>
            </tr>

            <tr>
                <td style="text-align:justify;">
                    Document Category
                </td>

                <td style="text-align: left"> <input type="text" id="Doc_Category" name="Doc_Category" value="{{:Doc_Category}}" class="e-field e-ejinputtext valid" /></td>
            </tr>
            <tr>
                <td style="text-align:justify;">
                    File Desc
                </td>
                <td style="text-align: left"> 
                    <textarea id="Details" name="Details" class="form-control" cols="95" rows="5" style="max-width:100%"></textarea>
                </td>
            </tr>

            <tr>
                <td style="text-align:justify;"></td>
                <td>
                    @Html.EJ().Button("btnclick").Type(ButtonType.Button).Text("Click")
                </td>
            </tr>

        </table>

    </div>


    <div class="panel-footer">
        <p class="box-title"><b>@String.Format("{0 : dddd, MMMM d, yyyy}", DateTime.Now)  : </b><span class="label label-primary"> </span></p>
    </div>
</div>



<script>
     $(function () {
         $('#UploadDefault').ejUploadbox({
             saveUrl: "SaveSupportingDoc",
             removeUrl: "DialogDeleteSupDoc",
             dialogAction: { closeOnComplete: true },
             multipleFilesSelection: false,
             showFileDetails: false,
             //begin: "onbegin",
             //success: "onsuccess",
         });
     })



     var docCategory =@Html.Raw(Json.Encode(ViewBag.Filecategories));

     var DropDownListCC = $('#Doc_Category').ejDropDownList({
         dataSource: docCategory,
         width: "350px",
         fields: { value: "Id", text: "ClientInfo_Desc" },
         change: "ValChangeDocCategory",
         //change: "selectContact",
     }).data("ejDropDownList");

     function ValChangeDocCategory(e) {
         var mname = e.text; //Name
         var mid = e.value;
         window.docCategory = e.value;

         //var obj = $('#Doc_Category').data("ejDropDownList");
         //console.log("Selected Item's Text - " + obj.option("text"));
         //console.log("selected Item's Value - " + obj.option("value"));
         //window.docCategory = obj.option("value");
         //alert(window.docCategory + ' --- ' + mname + ' --- ' + mid);
     }
     
     function myFunc() {
         var a = 100;
         try {
             alert("Value of variable a is : " + a);
         }
         catch (e) {
             alert("Error: " + e.description);
         }
     }



</script>

<script type="text/javascript">
        $(function () {
            $("#btnclick").click(function (args) {
                var formdata = new FormData();
                var _files = $("[name='UploadDefault']:not(.e-uploadinput)")[0].files.length;
                for (var x = 0; x < _files; x++) {
                    formdata.append("fileInput[" + x + "]", $("[name='UploadDefault']:not(.e-uploadinput)")[0].files[x]);
                    //Search for the existaence of the file
                    var fileName = $("[name='UploadDefault']:not(.e-uploadinput)")[0].files[x];
                    //alert(fileName);
                   //  fileExists(fileName);
                }

                formdata.append("details", $("#Details").val());
                formdata.append("Doc_Category", $("#Doc_Category").val());

                $.ajax
				(
					{
					    url: '@Url.Action("SaveSynchronous", "FilesClientInfoes")',   //'/Tab/QuickListTabContent',
					    type: 'POST',
					    data: formdata,
					    processData: false,
					    contentType: false,
					    cache: false,
					}).done(function (result) {
					    $("[name='UploadDefault']:not(.e-uploadinput)").each(function () {
					            $(this).remove();
					    });
					    var inst = $("#UploadDefault").ejUploadbox("instance");
					    inst.updialog.data('ejDialog').close();
					}
				);
            });
        });
</script>
<script>
        function fileExists(args) {
            var formdata = new FormData();
            formdata.append("fileInput[" + 0 + "]", args);
            $.ajax(                {
                    url: '@Url.Action("DoesFileExist", "FilesClientInfoes")',   //'/Tab/QuickListTabContent',
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (results) {
                        alert('Success ');
                        console.log(results);
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr);
                    },
                })

        }
</script>

<style class="cssStyles">
    .posupload {
        margin-left: 20px;
        margin-top: 20px;
    }

    .frame {
        margin-top: 10%;
    }

    .control {
        margin-left: 10%;
    }
</style>


