
@{
    ViewBag.Title = "ComplaintReport";
    if (User.IsInRole("MonitoringAndEvaluationOfficer"))
    {
        Layout = "~/Views/Shared/_LayoutHSIP.cshtml";
    }
    else if (User.IsInRole("CCU"))
    {
        Layout = "~/Views/Shared/_LayoutCCU.cshtml";
    }
    else if (User.IsInRole("SCTO"))
    {
        Layout = "~/Views/Shared/_LayoutRFSO.cshtml";
    }
}

@*<h2>ComplaintReport</h2>*@
<div>
    <table style=" width:90%;">
        <tr>
            <td style="font-size:larger; font-weight:bolder">Facility</td>
            <td>@Html.EJ().DropDownList("FacilityCode").WatermarkText("---Please Select Facility---").Datasource((IEnumerable<object>)ViewBag.Facilities).DropDownListFields(df => df.ID("FacilityCode").Text("Facility").Value("FacilityCode")).ShowCheckbox().EnableFilterSearch().EnablePopupResize().EnableSorting().Width("90%")</td>
            <td style="font-size:larger; font-weight:bolder">Start Date</td>
            <td>@Html.EJ().DatePicker("Start_Date").WatermarkText("---Please Select Date---").DateFormat("dd/MM/yyyy").Width("90%")</td>
            <td style="font-size:larger; font-weight:bolder">End Date</td>
            <td>@Html.EJ().DatePicker("End_Date").WatermarkText("---Please Select Date---").DateFormat("dd/MM/yyyy").Width("90%")</td>
            </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="float:right; padding-right:10%; padding-top:10px;">@Html.EJ().Button("Search_button").Text("Search").ShowRoundedCorner(true).Size(ButtonSize.Large).Type(ButtonType.Button).ClientSideEvents(o=> o.Click("myfunc"))</td>
        </tr>
        </table>
    </div>
<div id="mqpartial" class="tabstyle">

</div>
<script>
    function myfunc() {
       
         var dateobject = $("#Start_Date").data("ejDatePicker");
            var _StartDate = dateobject.getValue();

            var dateobject1 = $("#End_Date").data("ejDatePicker");
            var _EndDate = dateobject1.getValue();

            var facility = $('#FacilityCode').data("ejDropDownList");
            var _facility = facility.option("value");
            //alert("Yes " + _facility);
            // Home is your controller, Index is your action name
            $("#mqpartial").load("@Url.Action("Complaint_Report", "fo_complaint")",
                {
                    'FacilityCode': _facility,
                    'startDate': _StartDate,
                    'EndDate': _EndDate
                },
                                            function (response, status, xhr) {
                                                if (status == "error") {
                                                    alert("An error occurred while loading the results.");
                                                }
                                            }
            );
    }
</script>
