
@{
    ViewBag.Title = "Complaints";
    Layout = "~/Views/Shared/_LayoutHSIP.cshtml";
}
@*@model mascis.Models.FileListModel*@
@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ



<h2>Complaints</h2>

<div id="ControlRegion">
    @(Html.EJ().Grid<object>("FlatGrid").AllowRowDragAndDrop()
        .Datasource(datasource => datasource.URL("GetComplaints")/*.UpdateURL("DialogUpdate").InsertURL("DialogInsert").RemoveURL("DialogDelete")*/.Adaptor(AdaptorType.UrlAdaptor))
        .EnableAltRow()
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.DialogTemplate).DialogEditorTemplateID("#template"); })
        .AllowPaging()
        .AllowFiltering()
        .AllowTextWrap()
        .AllowGrouping()
        .AllowScrolling()
        .IsResponsive(true)
        .AllowKeyboardNavigation(true)
        .GroupSettings(group => { group.ShowGroupedColumn(true); })
        .TextWrapSettings(wrap => { wrap.WrapMode(WrapMode.Both); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .AllowSearching().SearchSettings(search =>
        {
            search.Fields(fields =>
            {

            });
            search.Operator(Operator.Contains);
            search.IgnoreCase(true);
        })
        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.Update);
                items.AddTool(ToolBarItems.Cancel);
                items.AddTool(ToolBarItems.Search);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.WordExport);
                //items.AddTool(ToolBarItems.PdfExport);
            });
        })
        .Columns(col =>
        {
            col.Field("e_reg_complaint_code").HeaderText("e_reg_complaint_code").IsPrimaryKey(true).Visible(false).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("e_reg_date_recieved").HeaderText("Date Recieved").Type("date").Format("{0:dd/MMM/yyyy}").Width(100).Add();
            col.Field("e_reg_complaint_category").HeaderText("Complaint Category").ForeignKeyField("complaint_category_code").ForeignKeyValue("complaint_category_desc").DataSource((IEnumerable<object>)ViewBag.e_reg_complaint_category).Width(200).Add();
            col.Field("e_reg_complaint_details").HeaderText("Complaint Details").Width(250).Add();
            col.Field("e_reg_affected_sites").HeaderText("Sites").Width(80).Add();
            col.Field("e_reg_product_category").HeaderText("Product Category").ForeignKeyField("category_code").ForeignKeyValue("category_desc").DataSource((IEnumerable<object>)ViewBag.Product_Category).Width(150).Add();
            col.Field("e_reg_communication_mode").HeaderText("Communication Mode").ForeignKeyField("comm_mode_code").ForeignKeyValue("comm_mode_desc").DataSource((IEnumerable<object>)ViewBag.e_reg_communication_mode).Width(150).Add();
            col.Field("e_reg_date_resolved").HeaderText("Date Resolved").Format("{0:dd/MMM/yyyy}").Width(100).Add();
            col.Field("e_reg_expected_date_resolution").HeaderText("Expected Date of Resolution").Format("{0:dd/MMM/yyyy}").Width(100).Add();
            col.Field("e_reg_contact_person_id").HeaderText("Contact Person").Width(200).Add();
            col.Field("e_reg_complaint_accuteness").HeaderText("e_reg_complaint_accuteness").Width(200).Add();
            //col.Field("DeletedRecord").HeaderText("DeletedRecord").Width(200).Add();
            col.Field("is_quality_issue").HeaderText("Quality Issue?").Width(200).Add();

            col.Field("AffectedSites").HeaderText("AffectedSites").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Sup_Doc_Evidence_Rec").HeaderText("Sup_Doc_Evidence_Rec").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Prod_Samples_Provided").HeaderText("Prod_Samples_Provided").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Communicated_By_Lev1").HeaderText("Communicated_By_Lev1").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Email_letter_attached").HeaderText("Email_letter_attached").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Communicated_By_Lev2").HeaderText("Communicated_By_Lev2").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Feedback").HeaderText("Feedback").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Feedback_Communicated").HeaderText("Feedback_Communicated").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Feedback_Date").HeaderText("Feedback_Date").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("No_Feedback_Reason").HeaderText("No_Feedback_Reason").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();

        })
                 .ClientSideEvents(evt => evt.ActionBegin("onActionBegin").ActionComplete("edit"))
                )

</div>
<script type="text/template" id="template" @*style="width: 100%"*@>
    <b>Complaints</b>

    <div id="defaultTab" style="width: 100%;">
        <ul>
            <li><a href="#tab1">Home Visit Reporting Tool</a></li>
            <li><a href="#tab2">List of Household Members</a></li>
        </ul>

        <div id="tab1">

            <div class="myDiv"><b> Complaint Report Form</b> </div>
            <div>
                @*<table class="table table-bordered table-striped">*@

                <div class="panel-group" id="accordion">
                    <div class="panel panel-default" id="complaintHeader">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                    Complaint Header
                                </a>
                            </h2>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table @*id="table2" border="1" cellpadding="3" cellspacing="0" border-collapse="none"*@>

                                    <tr>
                                        <td style="text-align:left;" @*hidden="hidden"*@>Complaint Number</td>
                                        <td style="text-align: left" hidden="hidden"> <input type="text" id="e_reg_complaint_code" name="e_reg_complaint_code" value="{{:e_reg_complaint_code}}" class="e-field e-ejinputtext valid" hidden="hidden" /> </td>
                                        <td style="text-align: left" @*hidden="hidden"*@> <input type="text" id="e_reg_complaint_No" name="e_reg_complaint_No" value="{{:e_reg_complaint_No}}" class="e-field e-ejinputtext valid" @*hidden="hidden"*@ /> </td>


                                        <td style="text-align: left;">Date Complaint received at MAUL</td>
                                        <td style="text-align: left"> <input type="text" id="e_reg_date_recieved" name="e_reg_date_recieved" value="{{:e_reg_date_recieved}}" class="e-field e-ejinputtext valid" /></td>

                                    </tr>

                                    <tr>

                                        <td style="text-align: left;">Complaint category</td>
                                        <td style="text-align: left"> <input type="text" id="e_reg_complaint_category" name="e_reg_complaint_category" value="{{:e_reg_complaint_category}}" class="e-field e-ejinputtext valid" /> </td>
                                        @*ViewBag.Facilities*@
                                        <td style="text-align: left;">Affected Sites</td>
                                        <td style="text-align: left"> <input @*type="text"*@ id="AffectedSites" name="AffectedSites" value="{{:AffectedSites}}" /> </td>

                                    </tr>
                                     

                                </table>



                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="complainantDetails">
                        <div class="panel-heading">
                            <h4 class="panel-title ">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                    1. COMPLAINANT DETAILS
                                </a>
                            </h4>
                        </div>
                        <div id="collapse2">
                            <div>

                                <table>
                                    <tr>
                                        <td class="redLabels">Complaint Title: </td>
                                        <td colspan=5>
                                            <textarea name="e_reg_complaint_Title" class="form-control" value="{{:e_reg_complaint_Title}}" cols="90" rows="2" style="max-width:100%">{{:e_reg_complaint_Title}}</textarea>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left" class="redLabels">Complainant’s Details</td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: left;">Category</td>
                                        <td style="text-align: left"> <input type="text" id="ComplainantCategory" name="ComplainantCategory" value="{{:ComplainantCategory}}" class="e-field e-ejinputtext valid" /> </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Name</td>
                                        <td style="text-align: left">
                                            <input id="ComplainantName" name="ComplainantName" value="{{: ComplainantName}}" @*class="e-field e-ejinputtext valid"*@ style="text-align: right; width: 175px; height: 28px" />
                                        </td>
                                        <td style="text-align: left;">Title</td>
                                        <td style="text-align: left"> <input type="text" id="ComplainantTitle" style="text-align:left" name="ComplainantTitle" value="{{:ComplainantTitle}}" class="e-field e-ejinputtext valid" /> </td>
                                        <td style="text-align: left;">Date & Time of Complaint</td>
                                        <td style="text-align: left"> <input type="text" id="e_reg_date_complaint" name="e_reg_date_complaint" value="{{:e_reg_date_complaint}}" class="e-field e-ejinputtext valid " /> </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Email Address</td>
                                        <td style="text-align: left"> <input type="text" id="ComplainantEmail" name="ComplainantEmail" value="{{:ComplainantEmail}}" class="e-field e-ejinputtext valid" /> </td>
                                        <td style="text-align: left;">Mobile</td>
                                        <td style="text-align: left"> <input type="text" id="ComplainantMobile" name="ComplainantMobile" value="{{:ComplainantMobile}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: left;">Telephone</td>
                                        <td style="text-align: left"> <input type="text" id="ComplainantPhone" name="ComplainantPhone" value="{{:ComplainantPhone}}" class="e-field e-ejinputtext valid " /> </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align: left;">Facility Name</td>
                                        <td style="text-align: left"> <input type="text" id="ComplainantFacilityCode" name="ComplainantFacilityCode" value="{{:ComplainantFacilityCode}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: left;">District</td>
                                        <td style="text-align: left"> <input type="text" id="ComplainantDistrict" name="ComplainantDistrict" value="{{:ComplainantDistrict}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: left;">IP</td>
                                        <td style="text-align: left"> <input type="text" id="IP" name="IP" value="{{:IP}}" class="e-field e-ejinputtext valid" /> </td>

                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="complaintDetails">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">

                                    2.0	COMPLAINT DETAILS
                                </a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse collapse in">
                            <div class="panel-body">
                                <table>

                                    <tr>
                                        <td class="redLabels">Complaint Description: </td>
                                        <td style="text-align: left">
                                            <textarea @*id="e_reg_complaint_details"*@ name="e_reg_complaint_details" class="form-control" value="{{: e_reg_complaint_details}}" cols="95" rows="5" style="max-width:100%">{{: e_reg_complaint_details}}</textarea>
                                        </td>
                                    </tr>
                                </table>
                                <table>
                                    <tr>
                                        <td class="redLabels" colspan="4" id="lblsupportDocs">Supporting Documentation and Evidence Received: </td>
                                    </tr>
                                    <tr>

                                        <td colspan="4">
                                            <div class="control">

                                                <div class="posupload">
                                                    <div id="UploadInput"></div>
                                                </div>
                                            </div>
                                            <br />
                                            <ul id="uploaded"></ul>

                                        </td>
                                    </tr>


                                    <tr>
                                        <td style="text-align: left;">Documents Provided</td>
                                        <td style="text-align: left"> <input type="text" id="Sup_Doc_Evidence_Rec" name="Sup_Doc_Evidence_Rec" value="{{:Sup_Doc_Evidence_Rec}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: left;">Product Samples Provided</td>
                                        <td style="text-align: left"> <input type="text" id="Prod_Samples_Provided" name="Prod_Samples_Provided" value="{{:Prod_Samples_Provided}}" class="e-field e-ejinputtext valid " /> </td>

                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div style="color: Red;">
                                                @ViewBag.Message
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>



                    <div class="panel panel-default" id="supportingDocuments">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupportDocs">

                                    Supporting Documents
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSupportDocs" class="panel-collapse collapse collapse in">
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <td colspan="4" style="text-align: justify;">

                                            <div id="partialPlaceHolder" style="width:100%"> </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>




                    <div class="panel panel-default" id="level1Communication">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">

                                    3.0 LEVEL ONE COMMUNICATION (EXTERNAL)
                                </a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse collapse in">
                            <div class="panel-body">
                                <table>
                                    <tr>
                                        <td style="text-align: left;">Communicated By</td>
                                        <td style="text-align: left"> <input type="text" id="Communicated_By_Lev1" name="Communicated_By_Lev1" value="{{:Communicated_By_Lev1}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: left;">Title</td>
                                        <td style="text-align: left"> <input type="text" id="Communicated_By_Lev1Title" name="Communicated_By_Lev1Title" value="{{:Communicated_By_Lev1Title}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: left;">Date</td>
                                        <td style="text-align: left"> <input type="text" id="Communicated_By_Lev1Date" name="Communicated_By_Lev1Date" value="{{:Communicated_By_Lev1Date}}" class="e-field e-ejinputtext valid " /> </td>
                     </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="complaintClassification">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">

                                    4.0 COMPLIANT CLASSIFICATION

                                </a>
                            </h4>
                        </div>
                        <div id="collapse5" class="panel-collapse collapse collapse in">
                            <div class="panel-body">
                                <table>

                                    @* <tr><td style="text-align: justify;">acc</td> <td style="text-align: left"> <input type="text" id="acc" name="acc" value="{{:acc}}" class="e-field e-ejinputtext valid" /> </td></tr>*@

                                    <tr>
                                        <td class="redLabels">Complaint Severity</td>
                                        <td style="text-align: left"> <input type="text" id="e_reg_complaint_accuteness" name="e_reg_complaint_accuteness" value="{{:e_reg_complaint_accuteness}}" class="e-field e-ejinputtext valid " /> </td>



                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="complaintInvestigation">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                                    4.0	COMPLAINT INVESTIGATION
                                </a>
                            </h4>
                        </div>
                        <div id="collapse6" class="panel-collapse collapse collapse in">
                            <div class="panel-body">
                                <table>

                                    @* <tr><td style="text-align: justify;">acc</td> <td style="text-align: left"> <input type="text" id="acc" name="acc" value="{{:acc}}" class="e-field e-ejinputtext valid" /> </td></tr>*@

                                    <tr style="width:100%">
                                        <td width="100%" @*style="text-align: justify;"*@>
                                            <!-- Place where you will insert your partial -->
                                            <div id="PreInvestGrd" @*style="display:none;*@ width:100%"> </div>
                                        </td>


                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="level2Communication">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">

                                    5.0	LEVEL 2 COMMUNICATION (SUPPLIER, MAUL & FACILITIES)

                                </a>
                            </h4>
                        </div>
                        <div id="collapse7" class="panel-collapse collapse collapse in">
                            <div class="panel-body">
                                <table>

                                    @* <tr><td style="text-align: justify;">acc</td> <td style="text-align: left"> <input type="text" id="acc" name="acc" value="{{:acc}}" class="e-field e-ejinputtext valid" /> </td></tr>*@

                                    <tr style="width:100%">
                                        <td class="redLabels" style="text-align: right;">Communicated by: Name</td>
                                        <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2" name="Communicated_By_Lev2" value="{{:Communicated_By_Lev2}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: right;">Title</td>
                                        <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2Title" name="Communicated_By_Lev2Title" value="{{:Communicated_By_Lev2Title}}" class="e-field e-ejinputtext valid " /> </td>
                                        <td style="text-align: right;">Date</td>
                                        <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2Date" name="Communicated_By_Lev2Date" value="{{:Communicated_By_Lev2Date}}" class="e-field e-ejinputtext valid " /> </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align: right;">Email to facility and/or copy of letter attached </td>
                                        <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2Email" name="Communicated_By_Lev2Email" value="{{:Communicated_By_Lev2Email}}" class="e-field e-ejinputtext valid " /> </td>

                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default" id="detailedInvestigation">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">

                                    6.0	DETAILED INVESTIGATION

                                </a>
                            </h4>
                        </div>
                        <div id="collapse8" class="panel-collapse collapse collapse in">
                            <div class="panel-body">
                                <table>

                                    @* <tr><td style="text-align: justify;">acc</td> <td style="text-align: left"> <input type="text" id="acc" name="acc" value="{{:acc}}" class="e-field e-ejinputtext valid" /> </td></tr>*@

                                    <tr style="width:100%">
                                        <td width="100%" @*style="text-align: justify;"*@>
                                            <!-- Place where you will insert your partial -->
                                            <div id="DetailInvestGrd" @*style="display:none;*@ width:100%"> </div>
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

        </div>
        @*<div id="tab1">*@

        @*</div>*@

        <div id="tab2">
        </div>
    </div>


</script>
<script>
    function onbegin(args) {
        var complaintcode = $('#e_reg_complaint_code').val();
        alert(complaintcode);
        args.data = complaintcode;
    }

    function onsuccess(args) {
    }
    function onActionBegin(args) {
        if (args.requestType == "save") {
            // alert('Save Called!!!');
            //Updating the file as one of the column data
            //args.data["UploadedFile"] = window.uploadData.files;

            //
            var dateTimeObj1 = $("#e_reg_date_complaint").ejDatePicker('getValue');
            args.data["e_reg_date_complaint"] = dateTimeObj1;

            var dateTimeObj2 = $("#e_reg_date_recieved").ejDatePicker('getValue');
            args.data["e_reg_date_recieved"] = dateTimeObj2;
            //alert(dateTimeObj2);

            args.data["testdata"] = $("#AffectedSites").val();
            args.data["testdata2"] = "Simon ";
            args.data["testdata3"] = "Peter ";
            var complaintcode = $("#e_reg_complaint_code").val();
            window.uploadData["editData"] = new FormData();

            //Converting the grid data to form data to send files to controller
            for (var d in args.data)
                uploadData.editData.append(d, args.data[d]);

            proxy = this;
            $.ajax({
                url: window.uploadData.url,
                type: 'POST',
                data: window.uploadData.editData,
                contentType: false,
                processData: false,
                success: function () {
                    proxy.refreshContent();

                    ////Update the child grids with the compliants code
                    setCodePreInvestGrd(complaintcode);
                    setCodeDetailInvestGrd(complaintcode);
                    //Save the files ...............
                    var upload = $('#UploadInput').ejUploadbox("instance");
                    var wrapper = upload.diaObj.wrapper;
                    var fileItem = wrapper.find(".e-ul li.e-upload-file");
                    for (var i = 0; i < fileItem.length; i++) {
                        alert('Using begin(args) ------');
                        upload._xhrPerformUpload($(fileItem[i]).data("file"));
                    }

                    $.alert('Your record exists - Whooray !!!');

                    //var complaintcode = $("#PreInvestGrd").val();
                    var objPreInvest = $("#PreInvestGrd").ejGrid("instance");
                    objPreInvest.batchSave();

                    var objDetailInvest = $("#DetailInvestGrd").ejGrid("instance");
                    objDetailInvest.batchSave();
                }
            });

            // Check if the master has been saved so that the grids can be saved


            //Save the grid data
            //alert('Kotyo ..... ');
            //var complaintcode = $("#PreInvestGrd").val();


            //var objPreInvest = $("#PreInvestGrd").ejGrid("instance");
            //objPreInvest.batchSave();

            //var objDetailInvest = $("#DetailInvestGrd").ejGrid("instance");
            //objDetailInvest.batchSave();
            //Updating the file as one of the column data





        }
        //else
        //    alert(args.requestType);
    }
    $.validator.setDefaults({
        //to validate all fields(hidden also)
        ignore: [],

        errorClass: 'e-validation-error',
        //it specifies the error message display position
        errorPlacement: function (error, element) {
            $(error).insertAfter(element.closest(".e-widget"));
        },
    });

    function loadpics () {
        //alert('Loading ... ');
        // Home is your controller, Index is your action name
        $("#partialPlaceHolder").load("@Url.Action("loadEvidence", "fo_complaint")",
                { 'e_reg_complaint_code': 1 },
                function (response, status, xhr) {
                    if (status == "error") {
                        alert('An error occurred while loading the Evidence!');
                    }
                });
    };
    function setCodePreInvestGrd(args) {

        $.ajax({
            type: 'GET',
            url: "PreInvestigationGrid",
            success: function (result) {
                if (result > 0) {
                    //debugger;

                    for (i = 0; i < result; i++) {
                        $("#PreInvestGrd").ejGrid("setCellValue", i, "e_reg_complaint_code", args);
                    }
                }
            },
        });
    }
    function setCodeDetailInvestGrd(args) {
        $.ajax({
            type: 'GET',
            url: "DetailInvestigationGrid",
            success: function (result2) {
                if (result2 > 0) {
                    //debugger;
                    for (i = 0; i < result2; i++) {
                        $("#DetailInvestGrd").ejGrid("setCellValue", i, "e_reg_complaint_code", args);
                    }
                }
            },
        });
    }

</script>
<script>
    function edit(args) {
        var YesNo =@Html.Raw(Json.Encode(ViewBag.YesNo)); 
        var Facilities =@Html.Raw(Json.Encode(ViewBag.Facilities ));
        var contacts =@Html.Raw(Json.Encode(ViewBag.Contacts));

        $("#e_reg_date_complaint").ejDatePicker({ maxDate: new Date() });
        $("#e_reg_date_recieved").ejDatePicker({
            maxDate: new Date(),
            validationRules: {
                required: true
            },
            validationMessage: {
                required: "Date recieved is Required"
            },
        });
 
        $("#e_reg_date_resolved").ejDatePicker({maxDate: new Date() });
        $("#Communicated_By_Lev1Date").ejDatePicker({ maxDate: new Date() });
        $("#e_reg_expected_date_resolution").ejDatePicker();
        $("#Feedback_Date").ejDatePicker({ maxDate: new Date() });
        $("#Communicated_By_Lev2Date").ejDatePicker({ maxDate: new Date() });

        var ASDropDownList = $('#AffectedSites').ejDropDownList({
            dataSource: Facilities,
            width: "240px",
            fields: { value: "FacilityCode", text: "Facility" },
            showCheckbox: true,
        }).data("ejDropDownList");


        $("#e_reg_contact_person_id").ejAutocomplete();
        $("#e_reg_complaint_details").ejAutocomplete().width(400);


        var DropDownListCC = $('#ComplainantCategory').ejDropDownList({
            dataSource: contacts,
            width: "150px",
            fields: { value: "category_id", text: "category_desc" },
            change: selectContact,
        }).data("ejDropDownList");

        $('#e_reg_complaint_category').ejDropDownList({
            dataSource: @Html.Raw(Json.Encode(ViewBag.e_reg_complaint_category)),
            width: "200px",
            fields: { value: "complaint_category_code", text: "complaint_category_desc" },

        }).data("ejDropDownList");



        $('#e_reg_complaint_accuteness').ejDropDownList({
            dataSource: @Html.Raw(Json.Encode(ViewBag.Accuteness)),
            width: "200px",
            fields: { value: "accuteness_code", text: "accuteness_desc" },
        }).data("ejDropDownList");

        $('#IP').ejDropDownList({
            dataSource: @Html.Raw(Json.Encode(ViewBag.YesNo)),
            width: "200px",
            fields: { value: "yes_no_id", text: "yes_no_desc" },
        }).data("ejDropDownList");


        $('#Communicated_By_Lev2Email').ejDropDownList({
            dataSource: @Html.Raw(Json.Encode(ViewBag.YesNo)),
            width: "200px",
            fields: { value: "yes_no_id", text: "yes_no_desc" },
        }).data("ejDropDownList");

        $('#Sup_Doc_Evidence_Rec').ejDropDownList({
            dataSource: @Html.Raw(Json.Encode(ViewBag.YesNo)),
            width: "200px",
            fields: { value: "yes_no_id", text: "yes_no_desc" },
        }).data("ejDropDownList");
        $('#Prod_Samples_Provided').ejDropDownList({
            dataSource: @Html.Raw(Json.Encode(ViewBag.YesNo)),
            width: "200px",
            fields: { value: "yes_no_id", text: "yes_no_desc" },
        }).data("ejDropDownList");

        if (args.requestType == "beginedit" || args.requestType == "add") {

            $("#defaultTab").ejTab({ selectedItemIndex: 0 }).ejTab({ showRoundedCorner: true });;
            window.e_reg_complaint_code = $('#e_reg_complaint_code').val();;

            //A Global var to track and hold file uploading info
            window.uploadData = {};

            window.uploadData.url = args.requestType == "add" ? "DialogInsert" : "DialogUpdate";

            if (args.requestType == "add") {
                $.ajax({
                    type: 'GET',
                    url: "complaintCode",
                    success: function (result) {
                        $('#e_reg_complaint_code').val(++result);
                    },
                });

                $.ajax({
                    type: "POST",
                    url: "ComplaintCodeString",
                    data: {},
                    datatype: "html",
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        $('#e_reg_complaint_No').val(data.msg);
                    },
                    error: function () {
                        alert("Error occured!!");
                    }
                });
            }
           
            $('#UploadInput').ejUploadbox({
                saveUrl: "SaveSupportDoc",
                dialogAction: { closeOnComplete: true },
                multipleFilesSelection: true,
                showFileDetails: false,
                begin: "onbegin",
                success: "onsuccess", 
            });
           ///loadpics();
             
            $('#e_reg_complaint_code').attr('readonly', 'readonly');
            $('#e_reg_complaint_No').attr('readonly', 'readonly');
            // $('#detailedInvestigation').hide();
            $("#PreInvestGrd").ejGrid({
                //dataSource: data,
                dataSource: ej.DataManager({ url: "BatchData?regCompCode=" + window.e_reg_complaint_code, batchUrl: "BatchUpdate", adaptor: "UrlAdaptor" }),
                //dataSource: ej.DataManager({ url: "/OVC_HVPT/BatchData", batchUrl: "/OVC_HVPT/BatchUpdate", adaptor: "UrlAdaptor" }),
                allowGrouping: false,
                isResponsive: true,
                enableAltRow: true,
                allowTextWrap: true,
                textWrapSettings: { wrapMode: "both" },
                cellEdit: "cellEdit",
                allowResizeToFit: true,
                showStackedHeader: true,
                enableResponsiveRow: true, 
                queryCellInfo: "queryCellInfo",
                toolbarSettings: { showToolbar: false, toolbarItems: ['search'] },
                editSettings: { allowEditing: true, allowAdding: true, allowDeleting: true, editMode: 'batch' },
                allowResizeToFit: true,
                columns: [
                    { field: "e_reg_complaint_code", visible: true, allowEditing: true, headerText: "HHcode", width: 50, isPrimaryKey: false },
                    { field: "investigation_code", visible: true, allowEditing: false, headerText: "", isPrimaryKey: true },
                    { field: "investigation_desc", visible: true, allowEditing: false, headerText: "COMPLAINT INVESTIGATION", width: 400 },
                    { field: "yes_no", visible: true, headerText: "Yes/No", width: 100, foreignKeyField: "yes_no_id", foreignKeyValue: "yes_no_desc", dataSource: YesNo },
                    { field: "Required_Evidence", visible: true, headerText: "Required Evidence", width: 300/*, isPrimaryKey: true */ },

                ],  
            });

            $("#DetailInvestGrd").ejGrid({ 
                dataSource: ej.DataManager({ url: "BatchDataDetailInvestGrd?regCompCode=" + window.e_reg_complaint_code, batchUrl: "BatchUpdate", adaptor: "UrlAdaptor" }), 
                allowGrouping: false,
                isResponsive: true,
                enableAltRow: true,
                allowTextWrap: true,
                textWrapSettings: { wrapMode: "both" },
                cellEdit: "cellEdit",
                allowResizeToFit: true,
                showStackedHeader: true,
                enableResponsiveRow: true, 
                queryCellInfo: "queryCellInfo",
                toolbarSettings: { showToolbar: false, toolbarItems: ['search'] },
                editSettings: { allowEditing: true, allowAdding: true, allowDeleting: true, editMode: 'batch' },
                allowResizeToFit: true,
                columns: [
                    { field: "e_reg_complaint_code", visible: true, allowEditing: true, headerText: "HHcode", width: 50, isPrimaryKey: false },
                    { field: "investigation_code", visible: true, allowEditing: false, headerText: "", isPrimaryKey: true },
                    { field: "investigation_desc", visible: true, allowEditing: false, headerText: "COMPLAINT INVESTIGATION", width: 400 },
                    { field: "yes_no", visible: true, headerText: "Yes/No", width: 100, foreignKeyField: "yes_no_id", foreignKeyValue: "yes_no_desc", dataSource: YesNo },
                    { field: "Required_Evidence", visible: true, headerText: "Required Evidence", width: 300/*, isPrimaryKey: true */ },

                ],  
            });
            //////Change Header
            ////$('#' + this._id + '_dialogEdit').ejDialog("option", "title", templateHeader); //change dialog title

            //////Change Header
            //$('#' + this._id + '_dialogEdit').ejDialog("option", "title", "Property Title Edit"); //change dialog title

        }
    }

    function queryCellInfo(args) {

        if (args.column.field == "investigation_code" && (args.data.investigation_code.trim() == '4.1' || args.data.investigation_code.trim() == '4.2' ||
            args.data.investigation_code.trim() == '6.1' || args.data.investigation_code.trim() == '6.2'))
            $($(args.cell).parent()).css("backgroundColor", "white").css("color", "red").css("font-weight", "bold");/*custom css applied to the row */


    }

    function cellEdit(args) {
        var comcode = args.model.selectedRecords[0].investigation_code;
        if ((comcode.trim() == '4.1' || comcode.trim() == '4.2' ||
            comcode.trim() == '6.1' || comcode.trim() == '6.2'))
        {
            args.cancel = true;
        }
    }


    function cascadeEventSubCounty(args) {
        args.requiresDefaultFilter = false; // restrict the built-in mapping for cascading dropdown
        args.cascadeQuery = ej.Query().where("subcounty_id", "equal", args.cascadeValue); // query to filter value based id
    }

    function cascadeEventParish(args) {
        args.requiresDefaultFilter = false; // restrict the built-in mapping for cascading dropdown
        args.cascadeQuery = ej.Query().where("parish_id", "equal", args.cascadeValue); // query to filter value based id
    }


</script>

<script>
    function selectContact(e) {
        var mComplainantCategoryDesc = e.text; //Name
        mid = e.value;

        var mComplainantCategory = e.value;
        $('#ComplainantName').ejDropDownList({
            dataSource: null,
            enabled: false,
            width: "150px",
            fields: { value: "cp_name", text: "cp_name" },
        }).data("ejDropDownList");

        $.ajax({
            url: 'contactPersons?cp_category=' + mComplainantCategory,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (datadetails) {
                if (datadetails.length > 0) {
                    $('#ComplainantName').ejDropDownList({
                        dataSource: datadetails,
                        enabled: true,
                        width: "150px",
                        change: "setContactdetails",
                        fields: { value: "cp_code", text: "cp_name" },
                    }).data("ejDropDownList");
                }
            },
        });
    }

    function setContactdetails(e) {
        var mComplainant = e.text; //Name
        mid = e.value;
        // alert(e.value);
        var mComplainantCode = e.value;
        ////Clear the vales
        //$('#ComplainantName').val(null);
        //$('#ComplainantTitle').val(null);
        //$('#ComplainantEmail').val(null);
        //$('#ComplainantMobile').val(null);
        //$('#ComplainantPhone').val(null);
        //$('#ComplainantFacilityCode').val(null);
        //$('#ComplainantDistrict').val(null);


        //contactPerson(int? cp_code)
        $.ajax({
            url: 'contactPerson?cp_code=' + mComplainantCode,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (contactdetails) {
                console.log(JSON.stringify(contactdetails));

                if (Object.keys(contactdetails).length > 0) {
                    $('#ComplainantName').val(contactdetails.cp_name);
                    //$('#ComplainantTitle').val(contactdetails.cp_title);
                    setTitle(contactdetails.cp_title);

                    $('#ComplainantEmail').val(contactdetails.fo_contact_email);
                    $('#ComplainantMobile').val(contactdetails.ComplainantMobile);
                    $('#ComplainantPhone').val(contactdetails.fo_contact_telephone);
                    //$('#ComplainantFacilityCode').val(contactdetails.cp_facility);
                    setFacility(contactdetails.cp_facility);
                    // $('#ComplainantDistrict').val(contactdetails.cp_district);
                    setDistrict(contactdetails.cp_district);
                }
            },
        });

    }
    function setTitle(args) {
        if (args == null || args === 'undefined') {
            return;
        }
        $.ajax({
            url: 'contactTitle?title_code=' + args,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (titledetails) {
                if (Object.keys(titledetails).length > 0) {

                    // When you use .Where(c => c.title_code...  the result is an array
                    //alert(titledetails[0].title_desc);

                    //When you use .FirstOrDefault(c => c.title_code  ...
                    //alert(contactdetails.title_desc);
                    // console.log(JSON.stringify(titledetails));

                    $('#ComplainantTitle').val(titledetails.title_desc);
                }
                else {
                    alert('Potea');
                }
            },
        });
    }

    function setFacility(args) {
        if (args == null || args === 'undefined') {
            return;
        }
        $.ajax({
            url: 'contactFacility?fac_code=' + args,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (Facilitydetails) {
                debugger;
                // console.log(JSON.stringify(Facilitydetails));
                if (Object.keys(Facilitydetails).length > 0) {
                    $('#ComplainantFacilityCode').val(Facilitydetails.Facility);
                }
            },
        });
    }

    function setDistrict(args) {
        if (args == null || args === 'undefined') {
            return;
        }
        $.ajax({
            url: 'contactDistrict?dist_code=' + args,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (Districtdetails) {
                console.log(JSON.stringify(Districtdetails));
                if (Object.keys(Districtdetails).length > 0) {
                    $('#ComplainantDistrict').val(Districtdetails.District_Name);
                }
            },
        });
    }
</script>

<style>
    .panel-default > .panel-heading {
        background-color: #451bb1 /*#3e1111*/;
        color: white;
        /*background-color:silver;*/
        /*color: white;*/
    }
</style>

<style type="text/css" class="cssStyles">
    .control {
        margin-left: 30px;
    }

    .ctrllabel {
        padding-top: 15px;
    }

    .control {
        margin-left: 20px;
    }

    .frame {
        height: 250px;
        width: 1000px;
    }

    .frame1 {
        height: 240px;
        width: 900px;
    }

    .txt {
        display: block;
        margin-bottom: 12px;
    }
</style>

<style>
    #lblComplaintTitle {
        /*font-size: 24px;*/
        background-color: white;
        color: #c9252b;
        vertical-align: top;
        /*width: 700px;*/
    }

    .redLabels {
        /*font-size: 24px;*/
        background-color: white;
        color: #ff0000;
        vertical-align: top;
        font-weight: bold;
        /*width: 700px;*/
    }

    .myDiv {
        font-size: 18px;
        background-color: white;
        color: orangered;
        vertical-align: top;
        text-align: center;
        /*width: 700px;*/
    }
</style>

<style>
    .e-grid .e-dialog .gridform .e-rowcell {
        padding: .5em;
    }

    .custom.e-js .e-header {
        background: #c9252b;
    }

    .custom.e-js .e-content {
        background: #ddd;
    }

    .custom .e-rbn-button.e-btn.e-select {
        background: #f5f5f5;
        color: #333;
    }

    .tabstyle {
        background: #F9F9F9;
        border-radius: 10px;
        border: 1px solid #99CFE3;
        display: block;
    }

    .longcolumns {
        width: 600px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
</style>

<style>
    .e-grid .e-groupdroparea, /*GroupDropArea */
    .e-grid .e-groupdroparea:hover, /*GroupDropArea Hover*/
    .e-grid .e-cloneproperties, /*Column header clone during dragging header*/
    .e-grid .e-groupheadercell:hover, /*HeaderCell in GroupDropArea*/
    .e-grid td.e-active, /*During Row Selected*/
    /*For pager items and their hover*/
    .e-pager .e-currentitem,
    .e-pager .e-currentitem:hover,
    .e-pager .e-link:hover,
    .e-pager .e-icon:hover {
        background-color: #ea1b8d;
    }

    .e-grid .e-gridheader /*For line that separates the grid header and content*/ {
        border-bottom-color: #ea1b8d;
    }

    .e-grid tr.e-hover /*For row hover*/ {
        background-color: #e66aae;
        color: #FFFFFF;
    }

    .e-grid .e-alt_row /*For Alternate row color*/ {
        background-color: #E5E4E2; /*#99CFE3;*/
    }
</style>

<style>
    .e-grid .e-dialog .gridform .e-rowcell {
        padding: .5em;
        border-bottom: 1px solid #c8c8c8;
        border-left: 1px solid #c8c8c8;
    }
</style> 


