
@{
    ViewBag.Title = "CCU";
    Layout = "~/Views/Shared/_LayoutFacilityHSIP.cshtml";
}
@using Syncfusion.JavaScript
@using Syncfusion.MVC.EJ
<script>
    window.batchno = '';
    window.productcode = '';
    window.regcode = '';
    window.product_comp_code = '';
    window.Complaint_No = '';
    window.complaintname = '';
</script>
<h3>Complaints Report Form</h3>

<div id="ControlRegion">
    @(Html.EJ().Dialog("ErrorList").Title("Exception Thrown").ShowOnInit(false))
    @(Html.EJ().Dialog("SuccessDial").Title("Record Saved").ShowFooter(true).FooterTemplateId("sample").ShowOnInit(false))
    @(Html.EJ().Dialog("CancelDial").Title("Record Not Saved").ShowFooter(true).FooterTemplateId("cancelfooter").ShowOnInit(false))


    @(Html.EJ().Grid<object>("Grid").AllowRowDragAndDrop()
        .Datasource(datasource => datasource.URL("GetComplaints").InsertURL("DialogInsert2").UpdateURL("DialogUpdate2").RemoveURL("DialogDelete").Adaptor(AdaptorType.UrlAdaptor))
        .EnableAltRow()
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.DialogTemplate).DialogEditorTemplateID("#template"); })
        .AllowPaging()
        .AllowFiltering()
        // .AllowTextWrap()
        // .AllowGrouping()
        .SelectionType(SelectionType.Multiple)
        .AllowScrolling()
        .IsResponsive(true)
        .AllowKeyboardNavigation(true)
        .GroupSettings(group => { group.ShowGroupedColumn(true); })
        .TextWrapSettings(wrap => { wrap.WrapMode(WrapMode.Both); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .AllowSearching().SearchSettings(search =>
        {
            search.Fields(fields =>
            {

            });
            search.Operator(Operator.Contains);
            search.IgnoreCase(true);
        })
        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.Update);
                items.AddTool(ToolBarItems.Cancel);
                items.AddTool(ToolBarItems.Search);
                //items.AddTool(ToolBarItems.ExcelExport);
                //items.AddTool(ToolBarItems.WordExport);
                //items.AddTool(ToolBarItems.PdfExport);
            });
        })
        .Columns(col =>
        {

            col.Field("e_reg_complaint_code").HeaderText("e_reg_complaint_code").IsPrimaryKey(true).Visible(false).TextAlign(TextAlign.Right).Width(70).Add();
            col.Field("e_reg_complaint_No").HeaderText("Complaint Number").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Justify).Width(70).Add();
            col.Field("e_reg_date_recieved").Type("date").HeaderText("Date Recieved").Format("{0:dd/MMM/yyyy}").Width(70).Add();
            //col.Field("e_reg_date_complaint").Type("date").HeaderText("Date Complaint").Format("{0:dd/MMM/yyyy}").Width(100).Add();

            col.Field("e_reg_complaint_details").HeaderText("Complaint Details").ClipMode(ClipMode.EllipsisWithTooltip).Width(400).Add();
            col.Field("e_reg_complaint_category").HeaderText("Complaint Category").ForeignKeyField("complaint_category_code").ForeignKeyValue("complaint_category_desc").DataSource((IEnumerable<object>)ViewBag.e_reg_complaint_category).Width(100).Add();
            col.Field("FinalSubmission").HeaderText("Final Submission").Visible(false).TextAlign(TextAlign.Right).Width(100).Add();
            // col.Field("e_reg_date_resolved").Type("date").HeaderText("Date Resolved").Format("{0:dd/MMM/yyyy}").Width(100).Add();
            // col.Field("e_reg_contact_person_id").HeaderText("Contact Person").Width(200).Add();
            // col.Field("e_reg_complaint_accuteness").HeaderText("e_reg_complaint_accuteness").Width(200).Add();
            //col.Field("ActionTaken").HeaderText("Action Taken").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            //col.Field("Feedback").HeaderText("Feedback").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            //col.Field("Feedback_Communicated").HeaderText("Feedback_Communicated").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();

        })
    .ClientSideEvents(evt => evt.ActionBegin("onActionBegin").ActionComplete("edit").ActionFailure("failure"))
    )

</div>
<script id="sample" type="text/x-jsrender">
    <div class="footerspan" style="float:right">

        @Html.EJ().Button("btn1").Size(ButtonSize.Medium).Height("30").Width("70").Text("Ok")

        @*@Html.EJ().Button("btn2").Size(ButtonSize.Mini).Height("30").Width("70").Text("Cancel")*@

    </div>
    @*<div class="condition" style="float:left; margin-left:15px">
            @Html.EJ().CheckBox("check1").Text("Don't ask me this again")
        </div>*@
</script>

<script id="cancelfooter" type="text/x-jsrender">
    <div class="footerspan" style="float:right">
        @Html.EJ().Button("btnOK").Size(ButtonSize.Medium).Height("30").Width("70").Text("Ok")
        @Html.EJ().Button("btnCancel").Size(ButtonSize.Mini).Height("30").Width("70").Text("Cancel")

    </div>
    <div class="condition" style="float:left; margin-left:15px">
        @Html.EJ().CheckBox("check1").Text("Don't ask me this again")
    </div>
</script>

<script type="text/template" id="template" @*style="width: 100%"*@>
    @*<b>Complaints</b>*@

    <div id="defaultTab" style="width: 100%;">


        <div id="tab1">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default" id="complaintHeader">
                    <div class="panel-heading">
                        <h2 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                Complaint Header
                            </a>
                        </h2>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div>
                            <table @*id="table2" border="1" cellpadding="3" cellspacing="0" border-collapse="none"*@>

                                <tr>
                                    <td style="text-align:left;" @*hidden="hidden"*@>Complaint Number</td>
                                    <td style="text-align: left" hidden="hidden"> <input type="text" id="e_reg_complaint_code" name="e_reg_complaint_code" value="{{:e_reg_complaint_code}}" class="e-field e-ejinputtext valid" hidden="hidden" /> </td>
                                    <td style="text-align: left" @*hidden="hidden"*@> <input type="text" id="e_reg_complaint_No" width="250" name="e_reg_complaint_No" value="{{:e_reg_complaint_No}}" class="e-field e-ejinputtext valid" @*hidden="hidden"*@ /> </td>
                                    <td style="text-align: left;" id="ReceiivedDate">Date of submission</td>
                                    <td style="text-align: left" id="ReceiivedDate1"> <input type="text" id="e_reg_date_recieved" name="e_reg_date_recieved" value="{{:e_reg_date_recieved}}" class="e-field e-ejinputtext valid" /></td>

                                </tr>
                                <tr>

                                    <td style="text-align: left;">Complaint category</td>
                                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_category" name="e_reg_complaint_category" value="{{:e_reg_complaint_category}}" class="e-field e-ejinputtext valid" /> </td>

                                    <td style="text-align: left;">Affected Sites</td>
                                    <td style="text-align: left"> <input @*type="text"*@ id="AffectedSites" name="AffectedSites" value="{{:AffectedSites}}" /> </td>

                                </tr>
                                <tr>
                                    @*<td style="text-align: left;">Facility Name</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantFacilityCode" name="ComplainantFacilityCode" value="{{:ComplainantFacilityCode}}" class="e-field e-ejinputtext valid " /> </td>*@
                                    <td style="text-align: left;">District</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantDistrict" name="ComplainantDistrict" value="{{:ComplainantDistrict}}" class="e-field e-ejinputtext valid " /> </td>
                                    <td style="text-align: left;">IP</td>
                                    <td style="text-align: left"> <input type="text" id="IP" name="IP" value="{{:IP}}" class="e-field e-ejinputtext valid" /> </td>

                                </tr>
                                <tr>
                                    <td class="redLabels">Issue/ Complaint Details</td>
                                    <td colspan="3" style="text-align: left">
                                        <textarea id="e_reg_complaint_details" name="e_reg_complaint_details" class="form-control" value="{{: e_reg_complaint_details}}" cols="95" rows="5" style="max-width:100%">{{: e_reg_complaint_details}}</textarea>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: left;">Product Category</td>
                                    <td style="text-align: left"> <input type="text" id="e_reg_product_category" name="e_reg_product_category" value="{{:e_reg_product_category}}" class="e-field e-ejinputtext valid" /> </td>
                                    <td style="text-align: left;" id="Mode1">Mode of Communcation</td>
                                    <td style="text-align: left" id="Mode2"> <input type="text" id="e_reg_communication_mode" name="e_reg_communication_mode" value="{{:e_reg_communication_mode}}" class="e-field e-ejinputtext valid" /> </td>
                                </tr>

                                <tr>
                                    <td style="text-align: left;" id="ResponsibleStaff">MAUL Responsible Staff</td>
                                    <td style="text-align: left" id="ResponsibleStaff1"> <input type="text" id="e_reg_MAUL_Staff" name="e_reg_MAUL_Staff" value="{{:e_reg_MAUL_Staff}}" class="e-field e-ejinputtext valid" /> </td>

                                </tr>

                                <tr>
                                    <td style="text-align: left;" id="ExpectedDate1">Expected Date of Resolution</td>
                                    <td style="text-align: left" id="ExpectedDate2"> <input type="text" id="e_reg_expected_date_resolution" name="e_reg_expected_date_resolution" value="{{:e_reg_expected_date_resolution}}" class="e-field e-ejinputtext valid" /> </td>
                                    <td class="redLabels" id="Resolved1">Date Resolved</td>
                                    <td style="text-align: left" id="Resolved2"> <input type="text" id="e_reg_date_resolved" name="e_reg_date_resolved" value="{{:e_reg_date_resolved}}" class="e-field e-ejinputtext valid " /> </td>
                                </tr>

                            </table>




                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="complainantDetails">
                    <div class="panel-heading">
                        <h4 class="panel-title ">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                Complainant's Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapse2">
                        <div>

                            <table>

                                <tr>
                                    <td style="text-align: left;">Category</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantCategory" name="ComplainantCategory" value="{{:ComplainantCategory}}" class="e-field e-ejinputtext valid" /> </td>

                                </tr>
                                <tr>
                                    <td style="text-align: left;">Name</td>
                                    <td style="text-align: left">
                                        <input id="ComplainantName" name="ComplainantName" value="{{: ComplainantName}}" @*class="e-field e-ejinputtext valid"*@ style="text-align: right; width: 175px; height: 28px" />
                                    </td>
                                    <td style="text-align: left;">Title</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantTitle" style="text-align:left" name="ComplainantTitle" value="{{:ComplainantTitle}}" class="e-field e-ejinputtext valid" /> </td>
                                    <td style="text-align: left;" hidden="hidden">Date & Time of Complaint</td>
                                    <td style="text-align: left" hidden="hidden"> <input type="text" id="e_reg_date_complaint" name="e_reg_date_complaint" value="{{:e_reg_date_complaint}}" class="e-field e-ejinputtext valid " /> </td>

                                </tr>
                                <tr>
                                    <td style="text-align: left;">Email Address</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantEmail" name="ComplainantEmail" value="{{:ComplainantEmail}}" class="e-field e-ejinputtext valid" /> </td>
                                    <td style="text-align: left;">Tele No.1</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantMobile" name="ComplainantMobile" value="{{:ComplainantMobile}}" class="e-field e-ejinputtext valid " /> </td>
                                    <td style="text-align: left;">Tele No.2</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantPhone" name="ComplainantPhone" value="{{:ComplainantPhone}}" class="e-field e-ejinputtext valid " /> </td>

                                </tr>
                                <tr hidden="hidden">
                                    <td style="text-align: left;">Facility Name</td>
                                    <td style="text-align: left" colspan="4"> <input type="text" id="ComplainantFacilityCode" name="ComplainantFacilityCode" value="{{:ComplainantFacilityCode}}" class="e-field e-ejinputtext valid " /> </td>
                                    @*<td style="text-align: left;">District</td>
                                    <td style="text-align: left"> <input type="text" id="ComplainantDistrict" name="ComplainantDistrict" value="{{:ComplainantDistrict}}" class="e-field e-ejinputtext valid " /> </td>
                                    <td style="text-align: left;">IP</td>
                                    <td style="text-align: left"> <input type="text" id="IP" name="IP" value="{{:IP}}" class="e-field e-ejinputtext valid" /> </td>*@

                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="complaintDetails">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">

                                Supporting Documentation and Evidence Received
                            </a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse collapse in">
                        <div class="panel-body">

                            <table>
                                <tr>
                                    <td colspan="4" style="text-align: justify;">

                                        <div id="partialPlaceHolder" style="width:100%"> </div>
                                    </td>
                                </tr>
                                <tr>

                                    <td colspan="4">


                                        <div class="posupload">
                                            <div id="UploadInput"></div>
                                        </div>

                                        <ul id="uploaded"></ul>

                                    </td>
                                </tr>


                                <tr>
                                    <td style="text-align: left;">Was Evidence provided</td>

                                    <td style="text-align: left">
                                        {{if Sup_Doc_Evidence_Rec}}
                                        <input type="checkbox" id="Sup_Doc_Evidence_Rec" name="Sup_Doc_Evidence_Rec" checked="checked" class="e-field e-checkbox" style="width:30px" />
                                        {{else}}
                                        <input type="checkbox" id="Sup_Doc_Evidence_Rec" name="Sup_Doc_Evidence_Rec" class="e-field e-checkbox" style="width:30px" />
                                        {{/if}}
                                    </td>
                                    <td style="text-align: left;" hidden="hidden">Product Samples Provided</td>

                                    <td style="text-align: left"  hidden="hidden">
                                        {{if Prod_Samples_Provided}}
                                        <input type="checkbox" id="Prod_Samples_Provided" name="Prod_Samples_Provided" checked="checked" class="e-field e-checkbox" style="width:30px" />
                                        {{else}}
                                        <input type="checkbox" id="Prod_Samples_Provided" name="Prod_Samples_Provided" class="e-field e-checkbox" style="width:30px" />
                                        {{/if}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4">
                                        <div style="color: Red;">
                                            @ViewBag.Message
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="panel panel-default" id="productDetails">
                    <div class="panel-heading">
                        <h4 class="panel-title ">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseproduct">
                                Product details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseproduct">
                        <div>

                            <table>

                                <tr>
                                    <td colspan="6">
                                        <div class="panel panel-default" id="complaintmedicines">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsemedicines">For Medicines</a>
                                                </h4>
                                            </div>
                                            <div id="collapsemedicines" class="panel-collapse collapse collapse in">
                                                <div @*class="panel-body"*@>
                                                    <table>
                                                        <tr style="width:100%">
                                                            <td width="100%">
                                                                <div id="medicinesGrid" width:100%"> </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <div class="panel panel-default" id="detailedotherProducts">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseotherProducts">For Other Products </a>
                                                </h4>
                                            </div>
                                            <div id="collapseotherProducts" class="panel-collapse collapse collapse in">
                                                <div @*class="panel-body"*@>
                                                    <table>
                                                        <tr style="width:100%">
                                                            <td width="100%">
                                                                <div id="otherProductsGrid" width:100%"> </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                </tr>



                            </table>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default" id="supportingDocuments" hidden="hidden">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSupportDocs">
                                Supporting Documents
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSupportDocs" class="panel-collapse collapse collapse in">
                        <div @*class="panel-body"*@>
                            <table>
                                @*<tr>
                                    <td colspan="4" style="text-align: justify;">

                                        <div id="partialPlaceHolder" style="width:100%"> </div>
                                    </td>
                                </tr>*@
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="level1Communication">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                Level One Communication
                            </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse collapse in">
                        <div @*class="panel-body"*@>
                            <table>
                                <tr>
                                    <td style="text-align: left;">Communicated By</td>
                                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev1" name="Communicated_By_Lev1" value="{{:Communicated_By_Lev1}}" class="e-field e-ejinputtext valid " @*onchange="CalcInterest(this.value)"*@ /> </td>
                                    <td style="text-align: left;">Title</td>
                                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev1Title" name="Communicated_By_Lev1Title" value="{{:Communicated_By_Lev1Title}}" class="e-field e-ejinputtext valid " /> </td>
                                    <td style="text-align: left;">Date</td>
                                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev1Date" name="Communicated_By_Lev1Date" value="{{:Communicated_By_Lev1Date}}" class="e-field e-ejinputtext valid " /> </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;">Email to facility and/or copy of letter attached </td>

                                    <td style="text-align: left">
                                        {{if Email_letter_attached}}
                                        <input type="checkbox" id="Email_letter_attached" name="Email_letter_attached" checked="checked" class="e-field e-checkbox" style="width:30px" />
                                        {{else}}
                                        <input type="checkbox" id="Email_letter_attached" name="Email_letter_attached" class="e-field e-checkbox" style="width:30px" />
                                        {{/if}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default" id="complaintClassification">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                                Compliant Classification
                            </a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse collapse in">
                        <div @*class="panel-body"*@>
                            <table>

                                <tr>
                                    <td class="redLabels">Complaint Severity</td>
                                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_accuteness" name="e_reg_complaint_accuteness" value="{{:e_reg_complaint_accuteness}}" class="e-field e-ejinputtext valid " /> </td>



                                </tr>

                            </table>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default" id="level2Communication">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                                Level 2 Communication (Supplier, MAUL & Facilities)
                            </a>
                        </h4>
                    </div>
                    <div id="collapse7" class="panel-collapse collapse collapse in">
                        <div @*class="panel-body"*@>
                            <table>

                                <tr style="width:100%">
                                    <td class="redLabels" style="text-align: right;">Communicated by: Name</td>
                                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2" name="Communicated_By_Lev2" value="{{:Communicated_By_Lev2}}" class="e-field e-ejinputtext valid " /> </td>
                                    <td style="text-align: right;">Title</td>
                                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2Title" name="Communicated_By_Lev2Title" value="{{:Communicated_By_Lev2Title}}" class="e-field e-ejinputtext valid " /> </td>
                                    <td style="text-align: right;">Date</td>
                                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2Date" name="Communicated_By_Lev2Date" value="{{:Communicated_By_Lev2Date}}" class="e-field e-ejinputtext valid " /> </td>

                                </tr>
                                <tr>
                                    <td style="text-align: right;">Email to facility and/or copy of letter attached </td>

                                    <td style="text-align: left">
                                        {{if Communicated_By_Lev2Email}}
                                        <input type="checkbox" id="Communicated_By_Lev2Email" name="Communicated_By_Lev2Email" checked="checked" class="e-field e-checkbox" style="width:30px" />
                                        {{else}}
                                        <input type="checkbox" id="Communicated_By_Lev2Email" name="Communicated_By_Lev2Email" class="e-field e-checkbox" style="width:30px" />
                                        {{/if}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="level3Communication">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                                Level 3 Communication (Supplier, MAUL & Facilities)
                            </a>
                        </h4>
                    </div>
                    <div id="collapse8" class="panel-collapse collapse collapse in">
                        <div @*class="panel-body"*@>
                            <table>

                                <tr style="width:100%">
                                    <td style="text-align: left;" colspan="2">Was the Feedback Communicated to Complainant?  </td>

                                    <td style="text-align: left" colspan="2">
                                        <input type="text" id="Feedback_Communicated" name="Feedback_Communicated" value="{{:Feedback_Communicated}}" class="e-field e-ejinputtext valid " />
                                        @*{{if Communicated_Lev3Feedback}}
                                            <input type="checkbox" id="Communicated_Lev3Feedback" name="Communicated_Lev3Feedback" checked="checked" class="e-field e-checkbox" style="width:30px" />
                                            {{else}}
                                            <input type="checkbox" id="Communicated_Lev3Feedback" name="Communicated_Lev3Feedback" class="e-field e-checkbox" style="width:30px" />
                                            {{/if}}*@
                                    </td>
                                </tr>
                                <tr id="FeedBackDate">
                                    <td style="text-align: right;">Date</td>
                                    <td style="text-align: left"> <input type="text" id="Feedback_Date" name="Feedback_Date" value="{{:Feedback_Date}}" class="e-field e-ejinputtext valid " /> </td>
                                </tr>
                                <tr id="Communicated_Lev3Yes">
                                    <td colspan="6" class="redLabels" style="text-align: left;">Brief description of feedback communicated to complaint</td>
                                </tr>
                                <tr id="Communicated_Lev3No">
                                    <td colspan="6" class="redLabels" style="text-align: left;">Give a reason why it was not communicated</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left" colspan="6"><textarea id="Brief_Feedback_Desc" name="Brief_Feedback_Desc" class="form-control" value="{{:Brief_Feedback_Desc}}" style="max-width:100%">{{:Brief_Feedback_Desc}}</textarea></td>
                                    @*<td style="text-align: left"> <input type="text" id="Communicated_Lev3Desc" name="Communicated_Lev3Desc" value="{{:Communicated_Lev3Desc}}" class="e-field e-ejinputtext valid " /> </td>*@
                                </tr>
                                <tr>
                                    <td style="text-align: left" colspan="6"><textarea id="No_Feedback_Reason" name="No_Feedback_Reason" class="form-control" value="{{:No_Feedback_Reason}}" style="max-width:100%">{{:No_Feedback_Reason}}</textarea></td>
                                    @*<td style="text-align: left"> <input type="text" id="Communicated_Lev3Desc" name="Communicated_Lev3Desc" value="{{:Communicated_Lev3Desc}}" class="e-field e-ejinputtext valid " /> </td>*@
                                </tr>
                                <tr id="Doc_Attached3">
                                    <td style="text-align: right;" colspan="2">Was a copy of response letter sent to the complainant Attached? </td>

                                    <td style="text-align: left">
                                        {{if Communicated_By_Lev3Email}}
                                        <input type="checkbox" id="Communicated_By_Lev2Email" name="Communicated_By_Lev2Email" checked="checked" class="e-field e-checkbox" style="width:30px" />
                                        {{else}}
                                        <input type="checkbox" id="Communicated_By_Lev2Email" name="Communicated_By_Lev2Email" class="e-field e-checkbox" style="width:30px" />
                                        {{/if}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" id="Complaint_Status">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                                Complaint Status
                            </a>
                        </h4>
                    </div>
                    <div id="collapse9" class="panel-collapse collapse collapse in">
                        <div class="panel-body">
                            <table style="width:100%">
                                <tr style="width:100%">
                                    <td class="redLabels" style="text-align: right; width:10%">Current Status</td>
                                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_status" name="e_reg_complaint_status" value="{{:e_reg_complaint_status}}" class="e-field e-ejinputtext valid " /> </td>
                                </tr>
                                <tr>
                                    <td class="redLabels" style="text-align: right; width:20%">Status Comment</td>
                                    <td><textarea id="Feedback" name="Feedback" class="form-control" value="{{:Feedback}}" style="max-width:100%">{{:Feedback}}</textarea></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <table>
                        <tr style="width:100%">
                            <td style="text-align: left; color:red;"> Would you like to make a final submission</td>
                            <td style="text-align: left"> <input type="text" id="FinalSubmission" name="FinalSubmission" value="{{:FinalSubmission}}" class="e-field e-ejinputtext valid " /> </td>
                            @*<td></td>*@
                        </tr>
                    </table>
                </div>
            </div>
        </div>



    </div>
</script>
<style>
    .panel-default > .panel-heading {
        background-color: #451bb1 /*#3e1111*/;
        color: white;
        /*background-color:silver;*/
        /*color: white;*/
    }
</style>

<style type="text/css" class="cssStyles">
    .control {
        margin-left: 30px;
    }

    .ctrllabel {
        padding-top: 15px;
    }

    .control {
        margin-left: 20px;
    }

    .frame {
        height: 250px;
        width: 1000px;
    }

    .frame1 {
        height: 250px;
        width: 900px;
    }

    .txt {
        display: block;
        margin-bottom: 12px;
    }
</style>

<style>
    #lblComplaintTitle {
        /*font-size: 24px;*/
        background-color: white;
        color: #c9252b;
        vertical-align: top;
        /*width: 700px;*/
    }

    .redLabels {
        /*font-size: 24px;*/
        background-color: white;
        color: #ff0000;
        vertical-align: top;
        font-weight: bold;
        /*width: 700px;*/
    }

    .myDiv {
        font-size: 18px;
        background-color: white;
        color: orangered;
        vertical-align: top;
        text-align: center;
        /*width: 700px;*/
    }
</style>

<style>
    .e-grid .e-dialog .gridform .e-rowcell {
        padding: .5em;
    }

    .custom.e-js .e-header {
        background: #c9252b;
    }

    .custom.e-js .e-content {
        background: #ddd;
    }

    .custom .e-rbn-button.e-btn.e-select {
        background: #f5f5f5;
        color: #333;
    }

    .tabstyle {
        background: #F9F9F9;
        border-radius: 10px;
        border: 1px solid #99CFE3;
        display: block;
    }

    .longcolumns {
        width: 600px !important;
        margin: 0 auto !important;
        position: relative !important;
        border-right: 5px #666 outset !important;
        border-left: 5px #666 outset !important;
    }
</style> 

<script>
    function edit(args) {

        if (args.requestType == "save") {
            var proddesc = $('#e_reg_complaint_details').val();
            var str = proddesc + " Saved Successfully!!!";
            //alert(proddesc);
            successSave();
        }
        var objDialog = $("#Grid").data("ejGrid");

       if (args.requestType == "beginedit" || args.requestType == "add") {
            $($("#EditDialog_Grid_Save").hide()).after('<button id="save" type="button" onclick="savess();" class="btn btn-success btn-sm" > <span class="glyphicon glyphicon-save"></span> Save</button>');
            $("#save").css({ "width": "100px", "height": "50px", "font-size": "17px", "float": "right", "margin-left": "10px", "margin-top": "20px", "margin-bottom": "10px" });
            $("#EditDialog_Grid_Cancel").ejButton("destroy");
            $($("#EditDialog_Grid_Cancel").hide()).after(' <button type="button" id="cancel" onclick="cancelss()" class="btn btn-danger btn-sm" ><span class="glyphicon glyphicon-remove-circle"></span> Cancel</button>');
            $("#cancel").css({ "width": "100px", "height": "50px", "float": "right", "margin-left": "10px", "margin-top": "20px", "margin-bottom": "10px" });
            $('#productDetails').hide();
            $('#level1Communication').hide();
            $('#level2Communication').hide();
            $('#level3Communication').hide();
            $('#Communicated_Lev3Yes').hide();
            $('#FeedBackDate').hide();
            $('#Communicated_Lev3No').hide();
            $('#Brief_Feedback_Desc').hide();
            $('#No_Feedback_Reason').hide();
            $('#Doc_Attached3').hide();
            $('#ReceiivedDate').hide();
            $('#ReceiivedDate1').hide();
            $('#ResponsibleStaff1').hide();
            $('#ResponsibleStaff').hide();

            // $("#EditDialog_Grid_Save").addClass('btn btn-success btn-sm');
            //$("#EditDialog_Grid_Save").css({ "width": "100px", "height": "50px", "font-size": "17px", "margin-left": "190px" });

            //$("#" + this._id + "_dialogEdit").ejDialog({ open: "open" })
            $("#" + objDialog._id + "_dialogEdit").ejDialog({ open: "open" })
            //$("#defaultTab").ejTab({ selectedItemIndex: 0 }).ejTab({ showRoundedCorner: true });;


            //A Global var to track and hold file uploading info
            window.uploadData = {};
            // Date of Visit
            $("#e_reg_date_recieved").ejDatePicker(
                {
                    maxDate: new Date(), value: new Date(new Date($("#e_reg_date_recieved").attr("value"))),
                    validationRules: {
                        required: true
                    },
                    validationMessage: {
                        required: "Date recieved is Required"
                    },
                }
            );
            if (args.requestType == "add"){
                var Date_received = $("#e_reg_date_recieved").data('ejDatePicker');
                Date_received.option('value', new Date());
            }
           
            var YesNo =@Html.Raw(Json.Encode(ViewBag.YesNo));
            var Facilities =@Html.Raw(Json.Encode(ViewBag.Facilities ));
            var contacts =@Html.Raw(Json.Encode(ViewBag.Contacts));
            var products =@Html.Raw(Json.Encode(ViewBag.Products));
            var productsOP =@Html.Raw(Json.Encode(ViewBag.ProductsOP));
            var Dosage =@Html.Raw(Json.Encode(ViewBag.Dosage));

            var maul_staff =@Html.Raw(Json.Encode(ViewBag.MAUL_Staff));
            var authorized_representative =@Html.Raw(Json.Encode(ViewBag.fo_a_authorized_representative));
            var productCategories =@Html.Raw(Json.Encode(ViewBag.Product_Category));
            var CommunicationModes =@Html.Raw(Json.Encode(ViewBag.e_reg_communication_mode));
            var Action_Taken =@Html.Raw(Json.Encode(ViewBag.fo_a_action_taken));
            var fo_a_status =@Html.Raw(Json.Encode(ViewBag.fo_a_status));
            window.complaintname = $('#ComplainantName').val();

            $('#Feedback_Communicated').ejDropDownList({

                dataSource: YesNo,
                enabled: true,
                width: "250px",
                change: "setCommunicated_Lev3",
                fields: { value: "yes_no_id", text: "yes_no_desc" },
            }).data("ejDropDownList");
            $('#FinalSubmission').ejDropDownList({

                dataSource: YesNo,
                enabled: true,
                width: "250px",
                //change: "setCommunicated_Lev3",
                fields: { value: "yes_no_id", text: "yes_no_desc" },
            }).data("ejDropDownList");
            
            $('#e_reg_complaint_status').ejDropDownList({

                dataSource: fo_a_status,
                enabled: true,
                width: "250px",
                //change: "setCommunicated_Lev3",
                fields: { value: "status_code", text: "status_desc" },
            }).data("ejDropDownList");

            var Feed_back_Communicated = $('#Feedback_Communicated').val();
            if (Feed_back_Communicated == 1) {

                $('#Communicated_Lev3Yes').show();
                $('#Communicated_Lev3No').hide();
                $('#No_Feedback_Reason').hide();
                $('#Brief_Feedback_Desc').show();
                $('#Doc_Attached3').show();
                $('#FeedBackDate').show();
                //$('#IterativeDecision_dec1').hide();

            }
            else if (Feed_back_Communicated == 2) {
                $('#Communicated_Lev3Yes').hide();
                $('#Communicated_Lev3No').show();
                $('#No_Feedback_Reason').show();
                $('#Brief_Feedback_Desc').hide();
                $('#Doc_Attached3').hide();
                $('#FeedBackDate').hide();
                //$('#IterativeDecision_dec1').hide();
            }
            $.ajax({
                url: 'contactPersons?cp_category=' + 3,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: 'GET',
                success: function (datadetails) {
                    if (datadetails.length > 0) {
                        // debugger;
                        //console.log(JSON.stringify(datadetails));
                        $('#ComplainantName').ejDropDownList({

                            dataSource: datadetails,
                            enabled: true,
                            width: "250px",
                            change: "setContactdetails",
                            fields: { value: "cp_code", text: "cp_name" },
                        }).data("ejDropDownList");

                        var ddl2 = $('#ComplainantName').ejDropDownList("instance");
                        ddl2.selectItemByText(window.complaintname);
                    }
                },
            });
            var DDprodCat = $('#e_reg_product_category').ejDropDownList({
                dataSource: productCategories,
                width: "250px",
                fields: { value: "category_code", text: "category_desc" },
                //change: "selectContact",
            }).data("ejDropDownList");

            var DropDownListCC = $('#e_reg_communication_mode').ejDropDownList({
                dataSource: CommunicationModes,
                width: "250px",
                fields: { value: "comm_mode_code", text: "comm_mode_desc" },
                //change: "selectContact",
            }).data("ejDropDownList");

            var DD_MS = $('#e_reg_MAUL_Staff').ejDropDownList({
                dataSource: maul_staff,
                width: "250px",
                fields: { value: "cp_code", text: "cp_name" },
                //change: "selectContact",
            }).data("ejDropDownList");

            var DD_MS = $('#Communicated_By_Lev1').ejDropDownList({
                dataSource: maul_staff,
                width: "250px",
                fields: { value: "cp_code", text: "cp_name" },
                change: "Level1DDChange",
            }).data("ejDropDownList");

            var DD_MS = $('#Communicated_By_Lev2').ejDropDownList({
                dataSource: maul_staff,
                width: "250px",
                fields: { value: "cp_code", text: "cp_name" },
                change: "Level2DDChange",
            }).data("ejDropDownList");

            var DropDownListCC = $('#ComplainantCategory').ejDropDownList({
                dataSource: contacts,
                width: "250px",
                fields: { value: "category_id", text: "category_desc" },
                selectedItemIndex: 0,
                change: "selectContact",
            }).data("ejDropDownList");
            var Complainant_Category = $('#e_reg_complaint_category').val();
            //alert(Complainant_Category);
            if (Complainant_Category == 1) {

                $('#productDetails').show();
                $('#level1Communication').show();
                $('#level2Communication').show();
                $('#level3Communication').show();
                //$('#IterativeDecision_dec1').hide();

            }
            else if (Complainant_Category > 1) {
                $('#productDetails').hide();
                $('#level1Communication').hide();
                $('#level2Communication').hide();
                $('#level3Communication').hide();
                //$('#IterativeDecision_dec1').hide();
            }
            $("#e_reg_date_complaint").ejDatePicker({ maxDate: new Date() });

            $("#e_reg_date_resolved").ejDatePicker({ maxDate: new Date() });
            $("#Communicated_By_Lev1Date").ejDatePicker({ maxDate: new Date() });
            $("#e_reg_expected_date_resolution").ejDatePicker();
            $("#Feedback_Date").ejDatePicker({ maxDate: new Date() });
            $("#Communicated_By_Lev2Date").ejDatePicker({ maxDate: new Date() });
            $("#e_reg_contact_person_id").ejAutocomplete();

            $('#e_reg_complaint_category').ejDropDownList({
                dataSource: @Html.Raw(Json.Encode(ViewBag.e_reg_complaint_category)),
                width: "250px",
                validationRules: {
                    required: true
                },
                validationMessage: {
                    required: "Complaint Category is Required"
                },
                fields: { value: "complaint_category_code", text: "complaint_category_desc" },
                change: "selectProductQuality",
            }).data("ejDropDownList");


             var userRole = '@Html.Raw(ViewBag.role)';

            if (userRole == 'True') {
                var ASDropDownList = $('#AffectedSites').ejDropDownList({
                    dataSource: Facilities,
                    width: "250px",
                    fields: { value: "FacilityCode", text: "Facility" },
                    selectedItemIndex: 0,
                    //showCheckbox: true,
                }).data("ejDropDownList");
                 $('#Mode1').hide();
                 $('#Mode2').hide();
                 $('#Complaint_Status').hide();
                 $('#complaintClassification').hide();
                 $('#Resolved1').hide();
                 $('#Resolved2').hide();
                 $('#ExpectedDate1').hide();
                 $('#ExpectedDate2').hide();
                 $('#level1Communication').hide();
                 $('#level2Communication').hide();
                 $('#level3Communication').hide();
                 $('#ReceiivedDate').hide();
                 $('#ReceiivedDate1').hide();
                 $('#ResponsibleStaff1').hide();
                 $('#ResponsibleStaff').hide();


            }
            else {
                var ASDropDownList = $('#AffectedSites').ejDropDownList({
                    dataSource: Facilities,
                    width: "250px",
                    fields: { value: "FacilityCode", text: "Facility" },
                    showCheckbox: true,
                }).data("ejDropDownList");
                $('#Mode1').show();
                $('#Mode2').show();
                $('#Complaint_Status').show();
                $('#complaintClassification').show();
                $('#Resolved1').show();
                $('#Resolved2').show();
                $('#ExpectedDate1').show();
                $('#ExpectedDate2').show();
                $('#level1Communication').show();
                $('#level2Communication').show();
                $('#level3Communication').show();
                $('#ReceiivedDate').show();
                $('#ReceiivedDate1').show();
                $('#ResponsibleStaff1').show();
                $('#ResponsibleStaff').show();
            }

            $('#e_reg_complaint_accuteness').ejDropDownList({
                dataSource: @Html.Raw(Json.Encode(ViewBag.Accuteness)),
                width: "200px",
                fields: { value: "accuteness_code", text: "accuteness_desc" },
            }).data("ejDropDownList");

            $('#IP').ejDropDownList({
                dataSource: @Html.Raw(Json.Encode(ViewBag.A_ImplimentingPartners)),
                width: "250px",
                fields: { value: "ImplimentingPartnerCode", text: "ImplementingPartnerDescription" },
                selectedItemIndex: 0,
            }).data("ejDropDownList");

            $('#ComplainantDistrict').ejDropDownList({
                dataSource: @Html.Raw(Json.Encode(ViewBag.District)),
                width: "250px",
                fields: { value: "District_Code", text: "District_Name" },
                selectedItemIndex: 0,
            }).data("ejDropDownList");


            if (args.requestType == "add") {
                $('#productDetails').hide();
                $('#level1Communication').hide();
                $('#level2Communication').hide();
                $('#level3Communication').hide();

                $.ajax({
                    type: 'GET',
                    url: "complaintCode",
                    success: function (result) {
                        $('#e_reg_complaint_code').val(++result);
                    },
                });

                $.ajax({
                    type: "POST",
                    url: "ComplaintCodeString",
                    data: {},
                    datatype: "html",
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        $('#e_reg_complaint_No').val(data.msg);
                        window.Complaint_No = data.msg;
                        var grid = $("#medicinesGrid").ejGrid("instance");
                        grid.dataSource(ej.DataManager({ url: 'Quality_Complaints?e_reg_complaint_code=' + $('#e_reg_complaint_No').val(), batchUrl: "BatchUpdateQualityIssues", adaptor: "UrlAdaptor" }));
                        var grid1 = $("#otherProductsGrid").ejGrid("instance");
                        grid1.dataSource(ej.DataManager({ url: 'Quality_ComplaintsOP?e_reg_complaint_code=' + $('#e_reg_complaint_No').val(), batchUrl: "BatchUpdateQualityIssues", adaptor: "UrlAdaptor" }));

                    },
                    error: function () {
                        alert("Error occured!!");
                    }
                });


            }
            window.e_reg_complaint_code = $('#e_reg_complaint_code').val();
            //$('#e_reg_complaint_No').val(data.msg);
            window.Complaint_No = $('#e_reg_complaint_No').val();


            // alert($('#e_reg_complaint_code').val());

            // window.uploadData = [];
            window.uploadData = {};
            //window.uploadData = [];
            window.uploadData.url = args.requestType == "add" ? "DialogInsert2" : "DialogUpdate2";

            //$('#UploadInput').ejUploadbox({
            //    saveUrl: "SaveSupportDoc",
            //    dialogAction: { closeOnComplete: true },
            //    multipleFilesSelection: true,
            //    showFileDetails: false,
            //    begin: "onbegin",
            //    success: "onsuccess",

            //});
            var regcode = $('#e_reg_complaint_code').val();
            window.regcode = regcode;
            //alert(regcode);
            $('#UploadInput').ejUploadbox({
                saveUrl: "SaveSupportDoc?UploadInput_data=" + regcode,
                dialogAction: { closeOnComplete: true },
                multipleFilesSelection: true,
                showFileDetails: false,
                begin: "onbegin", //This passes the UploadInput_data value to the save method
                //success: "onsuccess",

                success: function (args) {
                    $("#ListFiles").append('<tr><td>' + args.files.name + " has been uploaded successfully" + '</td></tr>');
                },
                fileSelect: "fileselect",// function (args) { alert(args.files[0].name);},


            });

            //$("#UploadInput").ejUploadbox("disable");
            //$("#UploadInput").ejUploadbox("enable");
            $('#e_reg_complaint_code').attr('readonly', 'readonly');
            $('#e_reg_complaint_No').attr('readonly', 'readonly');

             loadpics();

            //Find the complaints that exist
            var compcode = $('#e_reg_complaint_code').val();


            //var fileDesc = $('#Details').val();
            //alert(window.e_reg_complaint_code);
            $("#medicinesGrid").ejGrid({
                //dataSource: ej.DataManager({ url: 'Quality_Complaints?e_reg_complaint_code=' + $('#e_reg_complaint_No').val(), batchUrl: "BatchUpdateQualityIssues", adaptor: "UrlAdaptor" }),
                //detailsTemplate: "#tabGridContents",
                //detailsDataBound: "detailGridData",
                allowGrouping: false,
                isResponsive: true,
                enableAltRow: true,
                allowTextWrap: true,
                textWrapSettings: { wrapMode: "both" },
                allowResizeToFit: true,
                showStackedHeader: true,
                enableResponsiveRow: true,
                toolbarSettings: {
                    showToolbar: true,
                    toolbarItems: ["add", "edit", "delete", "update", "cancel"]
                },
                editSettings: {
                    allowEditing: true,
                    allowAdding: true,
                    allowDeleting: true,
                    rowPosition: "bottom"
                },
                allowPaging: true,
                cellEdit: "cellEditMedicine",
                beforeBatchSave: "SaveBatch" /*function (args) { }*/,
                cellSave: "Medicinecellsave",
                editSettings: { allowEditing: true, allowAdding: true, allowDeleting: true, editMode: 'batch' },
                allowResizeToFit: true,
                columns: [
                    { field: "e_reg_complaint_No", visible: false, allowEditing: true, headerText: "Complaint number", width: 80/*, isPrimaryKey: true*/ },
                    { field: "e_reg_complaint_code", visible: false, allowEditing: true, headerText: "complaint code", width: 50/*, isPrimaryKey: true*/ },
                    { field: "product_code", isPrimaryKey: true, editType: "dropdownedit", editParams: { enableAnimation: true }, validationRules: { required: true }, visible: true, allowEditing: true, headerText: "Generic name (& strength)", foreignKeyField: "product_code", foreignKeyValue: "product_description", dataSource: products, /*change: "ValChangeProdcutType",*/ width: 300 },
                    { field: "batch_no", isPrimaryKey: true, validationRules: { required: true }, visible: true, allowEditing: true, headerText: "Batch No.", width: 100, isPrimaryKey: true },
                    { field: "manufacturer", visible: true, headerText: "Manufacturer", width: 200 },
                    //{ field: "QualityIssue_code", visible: true, headerText: "QualityIssue_code", width: 100 },
                    { field: 'date_quality_issue_identified', type: "date", headerText: 'Date Quality issue was identified', editType: "datepicker", format: "{0:MM/dd/yyyy}", editParams: { buttonText: "Now" }, width: 150 },
                    { field: "dosage_form", visible: true, allowEditing: true, headerText: "Dosage form", foreignKeyField: "dosage_id", foreignKeyValue: "dosage_desc", dataSource: Dosage, width: 100 },
                    {
                        field: "description_of_quality_issue", headerText: "Describe quality issue", headerTooltip: "To add new line use Shift-Enter ", editTemplate: {
                            create: function () {
                                return "<textarea style='width:100%; display:block; max-width:100%;line-height:3.0;padding:15px 15px  30px; border-radius:3px; border:1px solid #F7E98D; font:13px Tahoma, cursive; transition:box-shadow 0.5s ease; box-shadow:0 4px 6px rgba(0,0,0,0.1); font-smoothing:subpixel-antialiased; background:linear-gradient(#F9EFAF, #F7E98D); background:-o-linear-gradient(#F9EFAF, #F7E98D); background:-ms-linear-gradient(#F9EFAF, #F7E98D); background:-moz-linear-gradient(#F9EFAF, #F7E98D); background:-webkit-linear-gradient(#F9EFAF, #F7E98D);'>{{:description_of_quality_issue}}</textarea>";
                            },
                            write: function (args) {
                                $('.text').css("max-width", args.element.parent("td").width());
                                $('.text').css("max-height", args.element.parent("td").height());
                                null;
                            },
                            read: function (args) {
                                return args.val();
                            },
                        }
                        , width: 300,
                    },
                    { field: "e_reg_Facility_action_taken", width: 200, headerText: "Action Taken", editType: "dropdownedit",/* editParams: { showCheckbox: true }, */foreignKeyValue: "action_taken_desc", foreignKeyField: "action_taken_code", dataSource: Action_Taken },
                ],
            });

            $("#otherProductsGrid").ejGrid({
                //dataSource: ej.DataManager({ url: 'Quality_ComplaintsOP?e_reg_complaint_code=' + window.e_reg_complaint_code, batchUrl: "BatchUpdateQualityIssues", adaptor: "UrlAdaptor" }),

                //detailsTemplate: "#tabGridContents",
                //detailsDataBound: "detailGridData",
                cellSave: "OtherMedicinecellsave",
                allowGrouping: false,
                isResponsive: true,
                enableAltRow: true,
                allowTextWrap: true,
                textWrapSettings: { wrapMode: "both" },
                allowResizeToFit: true,
                showStackedHeader: true,
                enableResponsiveRow: true,

                toolbarSettings: {
                    showToolbar: true,
                    toolbarItems: ["add", "edit", "delete", "update", "cancel"]

                },
                editSettings: {
                    allowEditing: true,
                    allowAdding: true,
                    allowDeleting: true,
                    rowPosition: "bottom"
                },
                allowPaging: true,
                cellEdit: "cellEditOtherProducts",
                editSettings: { allowEditing: true, allowAdding: true, allowDeleting: true, editMode: 'batch' },
                allowResizeToFit: true,
                columns: [
                    { field: "e_reg_complaint_No", visible: false, allowEditing: true, headerText: "Complaint number", width: 80/*, isPrimaryKey: true*/ },
                    { field: "QualityIssue_code", visible: false, headerText: "QualityIssue_code", width: 100 },
                    { field: "e_reg_complaint_code", visible: false, allowEditing: true, headerText: "e_reg_complaint_code", width: 50/*, isPrimaryKey: true*/ },
                    { field: "product_code", isPrimaryKey: true, validationRules: { required: true }, visible: true, allowEditing: true, headerText: "Generic name (& strength)", foreignKeyField: "product_code", foreignKeyValue: "product_description", dataSource: productsOP, /*change: "ValChangeProdcutType",*/ width: 300 },
                    { field: "batch_no", isPrimaryKey: true, validationRules: { required: true }, visible: true, allowEditing: true, headerText: "Batch No.", width: 100, isPrimaryKey: true },
                    { field: "Manufacturer", visible: true, headerText: "Manufacturer", width:200 },
                    { field: 'date_quality_issue_identified', type: "date", headerText: 'Date Quality issue was identified', editType: "datepicker", format: "{0:MM/dd/yyyy}", editParams: { buttonText: "Now" }, width: 150 },
                    {
                        field: "description_of_quality_issue", headerText: "Describe quality issue", headerTooltip: "To add new line use Shift-Enter ", editTemplate: {
                            create: function () {
                                return "<textarea style='width:100%; display:block; max-width:100%;line-height:3.0;padding:15px 15px  30px; border-radius:3px; border:1px solid #F7E98D; font:13px Tahoma, cursive; transition:box-shadow 0.5s ease; box-shadow:0 4px 6px rgba(0,0,0,0.1); font-smoothing:subpixel-antialiased; background:linear-gradient(#F9EFAF, #F7E98D); background:-o-linear-gradient(#F9EFAF, #F7E98D); background:-ms-linear-gradient(#F9EFAF, #F7E98D); background:-moz-linear-gradient(#F9EFAF, #F7E98D); background:-webkit-linear-gradient(#F9EFAF, #F7E98D);'>{{:description_of_quality_issue}}</textarea>";
                            },
                            write: function (args) {
                                $('.text').css("max-width", args.element.parent("td").width());
                                $('.text').css("max-height", args.element.parent("td").height());
                                null;
                            },
                            read: function (args) {
                                return args.val();
                            },
                        }
                        , width: 300,
                    },
                    { field: "e_reg_Facility_action_taken", width: 200, headerText: "Action Taken", editType: "dropdownedit",/* editParams: { showCheckbox: true }, */foreignKeyValue: "action_taken_desc", foreignKeyField: "action_taken_code", dataSource: Action_Taken },

                ],
            });

            if (args.requestType == "beginedit") {
               
                var grid = $("#medicinesGrid").ejGrid("instance");
                grid.dataSource(ej.DataManager({ url: 'Quality_Complaints?e_reg_complaint_code=' + $('#e_reg_complaint_No').val(), batchUrl: "BatchUpdateQualityIssues", adaptor: "UrlAdaptor" }));
                var grid1 = $("#otherProductsGrid").ejGrid("instance");
                grid1.dataSource(ej.DataManager({ url: 'Quality_ComplaintsOP?e_reg_complaint_code=' + $('#e_reg_complaint_No').val(), batchUrl: "BatchUpdateQualityIssues", adaptor: "UrlAdaptor" }));
            }
           
        }
    }
</script>
<script>
    function setContactdetails(e) {
        var mComplainant = e.text; //Name
        mid = e.value;
       // alert(e.value);
        var mComplainantCode = e.value;
        //Clear the vales
        $('#ComplainantName').val('');
        $('#ComplainantTitle').val('');
        $('#ComplainantEmail').val('');
        $('#ComplainantMobile').val('');
        $('#ComplainantPhone').val('');
        $('#ComplainantFacilityCode').val('');
        $('#ComplainantDistrict').val('');


        //contactPerson(int? cp_code)
        $.ajax({
            url: 'contactPerson?cp_code=' + mComplainantCode,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (contactdetails) {
                //console.log(JSON.stringify(contactdetails));

                if (Object.keys(contactdetails).length > 0) {
                    $('#ComplainantName').val(contactdetails.cp_name);
                    //$('#ComplainantTitle').val(contactdetails.cp_title);
                    setTitle(contactdetails.cp_title);

                    $('#ComplainantEmail').val(contactdetails.ce_email);
                    $('#ComplainantMobile').val(contactdetails.ct_telephone_2);
                    $('#ComplainantPhone').val(contactdetails.ct_telephon);
                    //$('#ComplainantFacilityCode').val(contactdetails.cp_facility);
                    setFacility(contactdetails.cp_facility);
                    // $('#ComplainantDistrict').val(contactdetails.cp_district);
                    //setDistrict(contactdetails.cp_district);
                }
            },
        });

    }
    function selectContact(e) {

        //Clear the vales
        $('#ComplainantName').val('');
        $('#ComplainantTitle').val('');
        $('#ComplainantEmail').val('');
        $('#ComplainantMobile').val('');
        $('#ComplainantPhone').val('');
        $('#ComplainantFacilityCode').val('');
        $('#ComplainantDistrict').val('');


        var mComplainantCategoryDesc = e.text; //Name
        mid = e.value;
        //alert(mid);
        var mComplainantCategory = e.value;
        $('#e_reg_complaint_details').ejDropDownList({
            dataSource: null,
            enabled: false,
            width: "150px",
            fields: { value: "cp_name", text: "cp_name" },
        }).data("ejDropDownList");

        $.ajax({
            url: 'contactPersons?cp_category=' + mComplainantCategory,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (datadetails) {
                if (datadetails.length > 0) {
                    // debugger;
                    //console.log(JSON.stringify(datadetails));
                    $('#ComplainantName').ejDropDownList({

                        dataSource: datadetails,
                        enabled: true,
                        width: "250px",
                        change: "setContactdetails",
                        fields: { value: "cp_code", text: "cp_name" },
                    }).data("ejDropDownList");

                    var ddl2 = $('#ComplainantName').ejDropDownList("instance");
                    ddl2.selectItemByText(window.complaintname);
                }
            },
        });

    }
      function selectProductQuality(e) {
        //debugger;
        var Healthvalue = e.value;
        //alert(e.value);

        if (Healthvalue == 1) {

            $('#productDetails').show();
            //$('#level1Communication').show();
            //$('#level2Communication').show();
            //$('#level3Communication').show();
            //$('#IterativeDecision_dec1').hide();
              var userRole = '@Html.Raw(ViewBag.role)';

                if (userRole == 'True') {
                    $('#Mode1').hide();
                     $('#Mode1').hide();
                     $('#Mode2').hide();
                     $('#Complaint_Status').hide();
                     $('#complaintClassification').hide();
                     $('#Resolved1').hide();
                     $('#Resolved2').hide();
                     $('#ExpectedDate1').hide();
                     $('#ExpectedDate2').hide();
                     $('#level1Communication').hide();
                     $('#level2Communication').hide();
                     $('#level3Communication').hide();
                     $('#ReceiivedDate').hide();
                     $('#ReceiivedDate1').hide();
                     $('#ResponsibleStaff1').hide();
                     $('#ResponsibleStaff').hide();
                     //Quarantine
                     $("#Quarantine").hide();
                    // Release
                     $("#Release").hide();

                }
                else {

                    $('#Mode1').show();
                    $('#Mode2').show();
                    $('#Complaint_Status').show();
                    $('#complaintClassification').show();
                    $('#Resolved1').show();
                    $('#Resolved2').show();
                    $('#ExpectedDate1').show();
                    $('#ExpectedDate2').show();
                    $('#level1Communication').show();
                    $('#level2Communication').show();
                    $('#level3Communication').show();
                    $('#ReceiivedDate').show();
                    $('#ReceiivedDate1').show();
                    $("#Quarantine").show();
                    $("#Release").show();
                    $('#ResponsibleStaff1').show();
                    $('#ResponsibleStaff').show();
                }

        }
        else {
            $('#productDetails').hide();
             $('#level1Communication').hide();
             $('#level2Communication').hide();
             $('#level3Communication').hide();
             $('#ResponsibleStaff1').hide();
             $('#ResponsibleStaff').hide();
            //$('#IterativeDecision_dec1').hide();
        }

        //, change: "setOvertakenDecisiondetails",
      }
      function savess(args) {
          var dateTimeObj2 = $("#e_reg_date_recieved").ejDatePicker('getValue');
          var date_recieved = new Date();
          if (dateTimeObj2 == null) {
              // Creating an object to the DatePicker Element

              var datepickObj = $("#e_reg_date_recieved").data('ejDatePicker');



              // Set a value to the DatePicker

              datepickObj.option('value', new Date());
          }
          else {
              date_recieved = new Date(dateTimeObj2);
          }
          //alert("Savess");
          //args.data["DateReceived"] = dateString(date_recieved);

          var obj = $("#Grid").ejGrid("instance");
          obj.endEdit();
          //var objPreInvest = $("#PreInvestGrd" + window.regcode).ejGrid("instance");
         // objPreInvest.batchSave();

          //var objDetailInvest = $("#DetailInvestGrd" + window.regcode).ejGrid("instance");
          //objDetailInvest.batchSave();

          var objMedicines = $("#medicinesGrid").ejGrid("instance");
          objMedicines.batchSave();

          var objotherProducts = $("#otherProductsGrid").ejGrid("instance");
          objotherProducts.batchSave();

          //var objActionTakenGrd = $("#ActionTakenGrd" + window.regcode).ejGrid("instance");
          //objActionTakenGrd.batchSave();

      }

      function cancelss() {
          cancelSave();

      }

      function errormessage(args) {
          $("#Grid").ejWaitingPopup("hide");
          var str = "";
          str = "Error occurred";
          $("#ErrorList").html('<p style="font-family: cursive;color: red;">' + str + '</p></br><button id="button1" style="size: large; showRoundedCorner: true; cssClass:customCss1">---OK---</button>');
          $("#button1").ejButton({

              click: function (args) {
                  $("#ErrorList").ejDialog("close");
              }
          });
          $("#ErrorList").ejDialog({ enableModal: true });
          $("#ErrorList").ejDialog("open");
      }
      function open(args) {

          var objDialog = $("#Grid").data("ejGrid");
          var $dialogWrapper = objDialog.element.find("#" + objDialog._id + "_dialogEdit_wrapper");
          $dialogWrapper.css("top", "0px");
          $dialogWrapper.css("left", "0px");
      }
      function failure(args) {
          $("#Grid").ejWaitingPopup("hide");
          var str = "";
          str = ($($(args.error.responseText).find('b')[0]).text() + ":" + $(args.error.responseText).find('i').text());
          $("#ErrorList").html('<p style="font-family: cursive;color: red;">' + str + '</p></br><button id="button1" style="size: large; showRoundedCorner: true; cssClass:customCss1">---OK---</button>');
          $("#button1").ejButton({

              click: function (args) {
                  $("#ErrorList").ejDialog("close");
              }
          });
          $("#ErrorList").ejDialog({ enableModal: true });
          $("#ErrorList").ejDialog("open");
      }

      function cancelSave(args) {
          $("#Grid").ejWaitingPopup("hide");
          var proddesc = $('#e_reg_complaint_details').val();
          var str = "The edits on " + proddesc + " have been Cancelled!!!";
          //$("#SuccessDial").html('<p style="font-family: cursive;color: green;">' + str + '</p></br><button id="button1" style="margin-left: 50%;size: large; showRoundedCorner: true; cssClass:customCss1">OK</button>');
          $("#CancelDial").html('<p style="font-family: cursive;color: red;">' + str /*+ '</p></br><button id="button1" style="margin-left: 50%;size: large; showRoundedCorner: true; cssClass:customCss1">OK</button>'*/);

          var obj = $("#Grid").ejGrid("instance")
          obj.cancelEdit();
          $("#btnOK").ejButton({
              cssClass: "e-danger",
              size: "large",
              showRoundedCorner: true,
              contentType: "textandimage",
              prefixIcon: "e-icon e-handup",
              visible: false,
              style: "float:right",
              click: function (args) {

                  $("#CancelDial").ejDialog("close");
              }
          });

          $("#CancelDial").ejDialog({ enableModal: true });
          $("#CancelDial").ejDialog("open");
      }

      function successSave(args) {
          $("#Grid").ejWaitingPopup("hide");
          var proddesc = $('#e_reg_complaint_details').val();
          var str = proddesc + " Saved Successfully!!!";

          //$("#SuccessDial").html('<p style="font-family: cursive;color: green;">' + str + '</p></br><button id="button1" style="margin-left: 50%;size: large; showRoundedCorner: true; cssClass:customCss1">OK</button>');
          $("#SuccessDial").html('<p style="font-family: cursive;color: green;">' + str /*+ '</p></br><button id="button1" style="margin-left: 50%;size: large; showRoundedCorner: true; cssClass:customCss1">OK</button>'*/);


          $("#btn1").ejButton({
              cssClass: "e-primary",
              size: "large",
              showRoundedCorner: true,
              contentType: "textandimage",
              prefixIcon: "e-icon e-handup",
              visible: false,
              style: "float:right",
              click: function (args) {
                  $("#SuccessDial").ejDialog("close");
              }
          });

          $("#button1").ejButton({
              cssClass: "e-success",
              size: "medium",
              showRoundedCorner: true,
              contentType: "textandimage",
              prefixIcon: "e-icon e-handup",

              click: function (args) {
                  $("#SuccessDial").ejDialog("close");
              }
          });
          $("#SuccessDial").ejDialog({ enableModal: true });
          $("#SuccessDial").ejDialog("open");
      }

      function editWarning(args) {

          var str = "Non Editable Record";

          $("#ErrorList").html('<p style="font-family: cursive;color: red;">' + str + '</p></br><button id="button1" style="size: large; showRoundedCorner: true; cssClass:customCss1">---OK---</button>');
          $("#button1").ejButton({

              click: function (args) {
                  $("#ErrorList").ejDialog("close");
              }
          });
          $("#ErrorList").ejDialog({ enableModal: true });
          $("#ErrorList").ejDialog("open");
      }
      function setTitle(args) {
          $('#ComplainantTitle').val('');
          if (args == null || args === 'undefined') {
              return;
          }
          $.ajax({
              url: 'contactTitle?title_code=' + args,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              type: 'GET',
              success: function (titledetails) {
                  if (Object.keys(titledetails).length > 0) {

                      // When you use .Where(c => c.title_code...  the result is an array
                      //alert(titledetails[0].title_desc);

                      //When you use .FirstOrDefault(c => c.title_code  ...
                      //alert(contactdetails.title_desc);
                      // console.log(JSON.stringify(titledetails));

                      $('#ComplainantTitle').val(titledetails.title_desc);
                  }
                  //else {
                  //    alert('Potea');
                  //}
              },
          });
      }

      function setFacility(args) {
          if (args == null || args === 'undefined') {
              return;
          }
          $.ajax({
              url: 'contactFacility?fac_code=' + args,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              type: 'GET',
              success: function (Facilitydetails) {
                  // debugger;
                  // console.log(JSON.stringify(Facilitydetails));
                  if (Object.keys(Facilitydetails).length > 0) {
                      $('#ComplainantFacilityCode').val(Facilitydetails.Facility);
                  }
              },
          });
      }

      function setDistrict(args) {
          if (args == null || args === 'undefined') {
              return;
          }
          $.ajax({
              url: 'contactDistrict?dist_code=' + args,
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              type: 'GET',
              success: function (Districtdetails) {
                  console.log(JSON.stringify(Districtdetails));
                  if (Object.keys(Districtdetails).length > 0) {
                      $('#ComplainantDistrict').val(Districtdetails.District_Name);
                  }
              },
          });
      }
</script>
<script>
      function cellEditMedicine(args) {
          var result = this.getSelectedRecords();
          var gridInstance = $("#medicinesGrid").ejGrid("instance");
          var medicineindex = gridInstance.selectedRowsIndexes;
          var grid = this._id;
          var Rcode = $("#e_reg_complaint_code").val();
          var ComplaintNo = window.Complaint_No;
          //alert(ComplaintNo);
          $("#medicinesGrid").ejGrid("setCellValue", medicineindex, "e_reg_complaint_code", Rcode);
          $("#medicinesGrid").ejGrid("setCellValue", medicineindex, "e_reg_complaint_No", ComplaintNo);
      }

      function cellEditOtherProducts(args) {

          var result = this.getSelectedRecords();
          var gridInstance = $("#otherProductsGrid").ejGrid("instance");
          var productindex = gridInstance.selectedRowsIndexes;
          var grid = this._id;
          var Rcode = $("#e_reg_complaint_code").val();
          var ComplaintNo = window.Complaint_No;
          $("#otherProductsGrid").ejGrid("setCellValue", productindex, "e_reg_complaint_code", Rcode);
          $("#otherProductsGrid").ejGrid("setCellValue", productindex, "e_reg_complaint_No", ComplaintNo);
      }

      function onActionBegin(args) {
          if (args.requestType == "save") {


              //  alert('Save Called!!!');
              //Updating the file as one of the column data
              //args.data["UploadedFile"] = window.uploadData.files;

               //alert('(args.requestType == "save")');
              //var dateTimeObj1 = $("#e_reg_date_complaint").ejDatePicker('getValue');
              //args.data["e_reg_date_complaint"] = dateTimeObj1;
              //args.data["date_complaint"] = dateString(dateTimeObj1);// dt + '-' + month + '-' + year; //date_complaint;// dateTimeObj1;

                  var dateTimeObj2 = $("#e_reg_date_recieved").ejDatePicker('getValue');
              var date_recieved = new Date();
              if (dateTimeObj2 == null) {
                  // Creating an object to the DatePicker Element

                  var datepickObj = $("#e_reg_date_recieved").data('ejDatePicker');



                  // Set a value to the DatePicker

                  datepickObj.option('value', new Date());
              }
              else {
                  date_recieved = new Date(dateTimeObj2);
              }
             // alert($("#e_reg_date_recieved").ejDatePicker('getValue'));
              args.data["DateReceived"] = date_recieved;//dt + '-' + month + '-' + year; // date_recieved;//dateTimeObj2;

              //var dateTimeObj2 = $("#e_reg_date_recieved").ejDatePicker('getValue');
              //var date_recieved = new Date(dateTimeObj2);
              args.data["DateReceived"] = dateTimeObj2;//dateString(dateTimeObj2);//dt + '-' + month + '-' + year; // date_recieved;//dateTimeObj2;

              //args.data["e_reg_date_complaint"] = dateString($("#e_reg_date_complaint").ejDatePicker('getValue'));
              //args.data["e_reg_date_resolved"] = dateString($("#e_reg_date_resolved").ejDatePicker('getValue'));
              //args.data["Communicated_By_Lev1Date"] = dateString($("#Communicated_By_Lev1Date").ejDatePicker('getValue'));
              //args.data["e_reg_expected_date_resolution"] = dateString($("#e_reg_expected_date_resolution").ejDatePicker('getValue'));
             // args.data["Feedback_Date"] = dateString($("#Feedback_Date").ejDatePicker('getValue'));
             // args.data["Communicated_By_Lev2Date"] = dateString($("#Communicated_By_Lev2Date").ejDatePicker('getValue'));

              var Sup_Doc = $('#Sup_Doc_Evidence_Rec:checked').val();
              var checkedValue = $('#Sup_Doc_Evidence_Rec:checked').val();

              //args.data["e_reg_date_recieved"] = date_recieved;//dateTimeObj2;
              args.data["AffectedSites"] = $("#AffectedSites").val();
              var complaintcode = $("#e_reg_complaint_code").val();

              args.data["ComplainantCategory"] = $("#ComplainantCategory").val();

              window.uploadData["editData"] = new FormData();
              // alert(window.uploadData.url);
              //Converting the grid data to form data to send files to controller
              for (var d in args.data)
                  uploadData.editData.append(d, args.data[d]);
              ////Update the child grids with the compliants code
              //setCodePreInvestGrd(complaintcode);
              //setCodeDetailInvestGrd(complaintcode);
              var regcode = $('#e_reg_complaint_code').val();
              //alert(regcode);
              proxy = this;
              $.ajax({
                  url: window.uploadData.url,
                  type: 'POST',
                  data: {
                      "UploadInput_data": regcode
                  },
                  contentType: false,
                  processData: false,
                  success: function () {
                      proxy.refreshContent();

                      //Save the files ...............

                      var upload = $('#UploadInput').ejUploadbox("instance");
                      if (upload != null && upload != undefined) {
                          if (upload.diaObj != null && upload.diaObj != undefined) {
                              var wrapper = upload.diaObj.wrapper;
                              var fileItem = wrapper.find(".e-ul li.e-upload-file");
                              for (var i = 0; i < fileItem.length; i++) {
                                  //alert('Using begin(args) ------');
                                  upload._xhrPerformUpload($(fileItem[i]).data("file"));
                              }
                          }
                      }
                      var obj = $("#Grid").ejGrid("instance");
                      obj.endEdit();
                      var objMedicines = $("#medicinesGrid").ejGrid("instance");
                      objMedicines.batchSave();

                      var objotherProducts = $("#otherProductsGrid").ejGrid("instance");
                      objotherProducts.batchSave();

                  }
              });

          }

      }
      function dateString(args) {
          var date_complaint = new Date(args); //        date = new Date('2013-08-03T02:00:00Z');
          var year = date_complaint.getFullYear();
          var month = date_complaint.getMonth() + 1;
          var dt = date_complaint.getDate();

          if (dt < 10) {
              dt = '0' + dt;
          }
          if (month < 10) {
              month = '0' + month;
          }
          return (dt + '-' + month + '-' + year);
      }

      function fileselect(args) {
          //console.log(JSON.stringify(args));
          for (i = 0; i < args.files.length; i++) {
              //  alert(args.files[i].name);
              // var msg = "<li class='green'><span style='display:inline-block;'><span class='e-icon e-file-empty'></span></span><span style='display:inline-block;margin-left:20px;'><span style='display:block'>" + args.files[i].name + "</span><span style='display:block;font-size: 10px;'>" + (args.files[i].size / 1024).toFixed(2) + "KB</span></li>"
              var msg = "<li style='display:block;color:green'>" + args.files[i].name + "</span><span style='display:block;font-size: 10px;color:blue'>" + (args.files[i].size / 1024).toFixed(2) + "KB</span></li>"

              // msg = args.files[i].name;
              $("#uploaded").append(msg);
              document.getElementById("Sup_Doc_Evidence_Rec").checked = true;
              //if (args.files[i].name == "Drag-and-Drop-img1.png") // set the file name or extension based on your requirement
              //{
              //    this._removeFile(args.files[i]); // remove the file
              //    this._currentElement.find(".e-uploadinput").val("");
              //    this._resetFileInput(this._currentElement.find(".e-uploadinput")); //reset the upload box input
              //}
          }
      }
      function onbegin(args) {
          var complaintcode = $('#e_reg_complaint_code').val();
         // alert(complaintcode);
          args.data = complaintcode;
      }

       function loadpics() {
        var regcode = $('#e_reg_complaint_code').val();
        //alert('Loading ... ');
        // Home is your controller, Index is your action name
        $("#partialPlaceHolder").load("@Url.Action("loadEvidence", "fo_complaint")",
            { 'e_reg_complaint_code': regcode },
                function (response, status, xhr) {
                    if (status == "error") {
                        errormessage();
                    }
                });
    };
</script>