
@{
    ViewBag.Title = "ListComplaints";
    Layout = "~/Views/Shared/_LayoutHSIP.cshtml";
}

<h2>List Complaints</h2>
<h3 class="h3">

    Complaints

</h3>
<style>
    #e_reg_contact_person_id {
        font-size: 24px;
        background-color: black;
        color: white;
        width: 600px;
    }
    /*input[name="e_reg_contact_person_id"] {
        width: 700px;
    }*/
</style>
@using (Html.BeginForm())
{
    <table class="tabstyle" style="margin-top:5px">

        <tr>
            <td style="padding:10px">
                <div>
                    <table style="padding: 25px;">
                        <tr>
                            <td>Communication Mode</td>
                            <td>@Html.EJ().DropDownList("Communication_Modes").WatermarkText("Please select a Communication Mode").Datasource((IEnumerable<fo_a_communication_mode>)ViewBag.e_reg_communication_mode).DropDownListFields(df => df.ID("comm_mode_code").Text("comm_mode_desc").Value("comm_mode_code")).Width("300px")</td>
                            <td>Complaint Category</td>
                            <td>@Html.EJ().DropDownList("ComplaintCategories").WatermarkText("Please select a ComplaintCategories").Datasource((IEnumerable<fo_a_complaint_category>)ViewBag.e_reg_complaint_category).DropDownListFields(df => df.ID("complaint_category_code").Text("complaint_category_desc").Value("complaint_category_code")).Width("300px") </td>
                        </tr>

                        @*<tr>
                                <td>Lease Type</td>
                                <td>@Html.EJ().DropDownList("leasetypesList").WatermarkText("Please select Lease Type").Datasource((IEnumerable<Lease_Type>)ViewBag.LeaseTypes).DropDownListFields(df => df.ID("LandTypeCode").Text("LandDesc").Value("LandTypeCode")).Width("300px") </td>
                                <td>Location</td>
                                <td>@Html.EJ().DropDownList("locationList").WatermarkText("Please select Location").Datasource((IEnumerable<Location>)ViewBag.Locations).DropDownListFields(df => df.ID("Location_id").Text("Location_Desc").Value("Location_id")).Width("300px") </td>
                            </tr>*@

                        <tr>
                            <td>Title Reference</td>
                            <td><input id="titleref" name="titleref" class="form-control" style="text-align: justify; width: 300px; height: 25px" value="@Request.Form["TitleRef"]" /></td>
                            <td></td>
                            <td>
                                @*@Html.EJ().Button("button_submit").Text("Search").ShowRoundedCorner(true).ContentType(ContentType.TextAndImage).Size(ButtonSize.Mini).Type(ButtonType.Button).PrefixIcon("e-icon e-handup")*@
                                <input type="submit" class="btn btn-primary" value="Search">
                            </td>
                        </tr>

                    </table>
                </div>

            </td>
        </tr>
    </table>
    <div class="clear"> </div>
}


<div class="content">

    <div id="defaultTab" style="width: 100%;">
        <ul>
            <li><a href="#tab1">List of Complaints</a></li>
            <li><a href="#tab2">Quality Issue Complaint Details</a></li>
        </ul>

        <div id="tab1">
            @*<div class="myDiv">
                    <h3>
                        List of Complaints
                    </h3>
                </div>*@
            <div id="ControlRegion">
                @(Html.EJ().Grid<fo_complaint>("FlatGrid").AllowRowDragAndDrop()//.ShowColumnChooser()
                                                                                //.Datasource((IEnumerable<object>)ViewBag.Datasource)
                                                                                //.Datasource(datasource => datasource.URL("DataSource").BatchURL("Add").Adaptor(AdaptorType.UrlAdaptor))
        .Datasource(datasource => datasource.URL("GetComplaints").UpdateURL("DialogUpdate").InsertURL("DialogInsert").RemoveURL("DialogDelete").Adaptor(AdaptorType.UrlAdaptor))
        .EnableAltRow()
        .EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.DialogTemplate).DialogEditorTemplateID("#template"); })
        .AllowPaging()
        .AllowFiltering()
        .AllowTextWrap()
        .AllowGrouping()
        .AllowScrolling()
        .IsResponsive(true)

        .AllowKeyboardNavigation(true)
        .GroupSettings(group => { group.ShowGroupedColumn(true); })
        .TextWrapSettings(wrap => { wrap.WrapMode(WrapMode.Both); })
        .FilterSettings(filter => { filter.FilterType(FilterType.Excel); })
        .AllowSearching().SearchSettings(search =>
        {
            search.Fields(fields =>
            {

            });
            search.Operator(Operator.Contains);
            search.IgnoreCase(true);
        })
        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {
                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
                items.AddTool(ToolBarItems.Update);
                items.AddTool(ToolBarItems.Cancel);
                items.AddTool(ToolBarItems.Search);
                items.AddTool(ToolBarItems.ExcelExport);
                items.AddTool(ToolBarItems.WordExport);
                items.AddTool(ToolBarItems.PdfExport);
            });
        })
        .Columns(col =>
        {
            col.Field("e_reg_complaint_code").HeaderText("e_reg_complaint_code").IsPrimaryKey(true).Visible(false).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("e_reg_date_recieved").HeaderText("Date Recieved").Format("{0:dd/MMM/yyyy}").Width(100).Add();
            col.Field("e_reg_complaint_category").HeaderText("Complaint Category").ForeignKeyField("complaint_category_code").ForeignKeyValue("complaint_category_desc").DataSource((IEnumerable<object>)ViewBag.e_reg_complaint_category).Width(200).Add();
            col.Field("e_reg_complaint_details").HeaderText("Complaint Details").Width(250).Add();
            col.Field("e_reg_affected_sites").HeaderText("Sites").Width(50).Add();
            col.Field("e_reg_product_category").HeaderText("Product Category").ForeignKeyField("category_code").ForeignKeyValue("category_desc").DataSource((IEnumerable<object>)ViewBag.Product_Category).Width(150).Add();
            col.Field("e_reg_communication_mode").HeaderText("Communication Mode").ForeignKeyField("comm_mode_code").ForeignKeyValue("comm_mode_desc").DataSource((IEnumerable<object>)ViewBag.e_reg_communication_mode).Width(150).Add();
            col.Field("e_reg_date_resolved").HeaderText("Date Resolved").Format("{0:dd/MMM/yyyy}").Width(100).Add();
            col.Field("e_reg_expected_date_resolution").HeaderText("Expected Date of Resolution").Format("{0:dd/MMM/yyyy}").Width(100).Add();
            col.Field("e_reg_contact_person_id").HeaderText("Contact Person").Width(200).Add();
            col.Field("e_reg_complaint_accuteness").HeaderText("e_reg_complaint_accuteness").Width(200).Add();
            //col.Field("DeletedRecord").HeaderText("DeletedRecord").Width(200).Add();
            col.Field("is_quality_issue").HeaderText("Quality Issue?").Width(200).Add();

            col.Field("AffectedSites").HeaderText("AffectedSites").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Sup_Doc_Evidence_Rec").HeaderText("Sup_Doc_Evidence_Rec").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Prod_Samples_Provided").HeaderText("Prod_Samples_Provided").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Communicated_By_Lev1").HeaderText("Communicated_By_Lev1").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Email_letter_attached").HeaderText("Email_letter_attached").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Communicated_By_Lev2").HeaderText("Communicated_By_Lev2").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Feedback").HeaderText("Feedback").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Feedback_Communicated").HeaderText("Feedback_Communicated").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("Feedback_Date").HeaderText("Feedback_Date").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();
            col.Field("No_Feedback_Reason").HeaderText("No_Feedback_Reason").IsPrimaryKey(false).Visible(true).TextAlign(TextAlign.Right).Width(100).Add();

        })
                //.ClientSideEvents(eve => { /*eve.ActionComplete("complete");*/ })
                .ClientSideEvents(eve => {/* eve.Load("onLoad");*/ eve.ActionComplete("edit"); }))
                @*.ClientSideEvents(eve => { eve.ActionComplete("edit"); }))*@
                )

            </div>

        </div>
        @*<div id="tab1">*@

        @*</div>*@

        <div id="tab2">
            <div class="myDiv">
                <b>
                    Quality Issues
                </b>
            </div>

            <div>
                <div id="Grid_Member"></div>
            </div>
        </div>

    </div>
    <br />
</div>
<script>

    $("#defaultTab").ejTab({ selectedItemIndex: 0 }).ejTab({ showRoundedCorner: true });;
</script>


<script type="text/template" id="template">
    <b>Property Title Details</b>
    <div id="dataenrtyTab">
        <ul>
            <li><a href="#tab1">Details (Page #1)</a></li>
            <li><a href="#tab2">Details (Page #2)</a></li>
            <li><a href="#tabQualityIssues">Title Movements</a></li>
        </ul>

        <div id="tab1">
            <table cellspacing="10">
                <tr>
                    <td style="text-align: right;">Date Recieved</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_date_recieved" name="e_reg_date_recieved" value="{{:e_reg_date_recieved}}" class="e-field e-ejinputtext valid" /> </td>
                    <td style="text-align: right;">Complaint category</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_category" name="e_reg_complaint_category" value="{{:e_reg_complaint_category}}" class="e-field e-ejinputtext valid" /> </td>

                    <td style="text-align: right;">Code</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_code" name="e_reg_complaint_code" value="{{:e_reg_complaint_code}}" disabled="disabled" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">Complaint No</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_No" name="e_reg_complaint_No" value="{{:e_reg_complaint_No}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">e_reg_contact_person_id</td>
                    @* <td style="text-align: left"> <input type="text" id="e_reg_contact_person_id" name="e_reg_contact_person_id" value="{{:e_reg_contact_person_id}}" class="e-field e-ejinputtext valid " /> </td>*@

                </tr>
                <tr>
                    <td style="text-align: right;">e_reg_contact_person_id</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_contact_person_id" name="e_reg_contact_person_id" size="500" value="{{:e_reg_contact_person_id}}" @*class="e-field e-ejinputtext valid "*@ /> </td>

                </tr>
                <tr>
                     <td style="text-align: right;">e_reg_date_complaint</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_date_complaint" name="e_reg_date_complaint" value="{{:e_reg_date_complaint}}" class="e-field e-ejinputtext valid " /> </td>
                                    </tr>
                <tr>
                    <td style="text-align: right;">e_reg_complaint_details</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_details" name="e_reg_complaint_details" value="{{:e_reg_complaint_details}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">e_reg_affected_sites</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_affected_sites" name="e_reg_affected_sites" value="{{:e_reg_affected_sites}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">e_reg_product_category</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_product_category" name="e_reg_product_category" value="{{:e_reg_product_category}}" class="e-field e-ejinputtext valid " /> </td>
                </tr>
                <tr>
                    <td style="text-align: right;">e_reg_communication_mode</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_communication_mode" name="e_reg_communication_mode" value="{{:e_reg_communication_mode}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">e_reg_date_resolved</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_date_resolved" name="e_reg_date_resolved" value="{{:e_reg_date_resolved}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">e_reg_expected_date_resolution</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_expected_date_resolution" name="e_reg_expected_date_resolution" value="{{:e_reg_expected_date_resolution}}" class="e-field e-ejinputtext valid " /> </td>
                </tr>
                <tr>
                    <td style="text-align: right;">e_reg_complaint_accuteness</td>
                    <td style="text-align: left"> <input type="text" id="e_reg_complaint_accuteness" name="e_reg_complaint_accuteness" value="{{:e_reg_complaint_accuteness}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">is_quality_issue</td>
                    <td style="text-align: left"> <input type="text" id="is_quality_issue" name="is_quality_issue" value="{{:is_quality_issue}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">AffectedSites</td>
                    <td style="text-align: left"> <input type="text" id="AffectedSites" name="AffectedSites" value="{{:AffectedSites}}" class="e-field e-ejinputtext valid " /> </td>
                </tr>
                <tr>
                    <td style="text-align: right;">Sup_Doc_Evidence_Rec</td>
                    <td style="text-align: left"> <input type="text" id="Sup_Doc_Evidence_Rec" name="Sup_Doc_Evidence_Rec" value="{{:Sup_Doc_Evidence_Rec}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">Prod_Samples_Provided</td>
                    <td style="text-align: left"> <input type="text" id="Prod_Samples_Provided" name="Prod_Samples_Provided" value="{{:Prod_Samples_Provided}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">Communicated_By_Lev1</td>
                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev1" name="Communicated_By_Lev1" value="{{:Communicated_By_Lev1}}" class="e-field e-ejinputtext valid " /> </td>
                </tr>

                <tr>
                    <td style="text-align: right;">Email_letter_attached</td>
                    <td style="text-align: left"> <input type="text" id="Email_letter_attached" name="Email_letter_attached" value="{{:Email_letter_attached}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">Communicated_By_Lev2</td>
                    <td style="text-align: left"> <input type="text" id="Communicated_By_Lev2" name="Communicated_By_Lev2" value="{{:Communicated_By_Lev2}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">Feedback</td>
                    <td style="text-align: left"> <input type="text" id="Feedback" name="Feedback" value="{{:Feedback}}" class="e-field e-ejinputtext valid " /> </td>
                </tr>

                <tr>
                    <td style="text-align: right;">Feedback_Communicated</td>
                    <td style="text-align: left">
                        {{if Feedback_Communicated}}
                        <input type="checkbox" id="Feedback_Communicated" name="Feedback_Communicated" checked="checked" class="e-field e-checkbox" style="width:30px" />
                        {{else}}
                        <input type="checkbox" id="Feedback_Communicated" name="Feedback_Communicated" class="e-field e-checkbox" style="width:30px" />
                        {{/if}}
                    </td>

                    <td style="text-align: right;">Feedback_Date</td>
                    <td style="text-align: left"> <input type="text" id="Feedback_Date" name="Feedback_Date" value="{{:Feedback_Date}}" class="e-field e-ejinputtext valid " /> </td>
                    <td style="text-align: right;">No_Feedback_Reason</td>
                    <td style="text-align: left"> <input type="text" id="No_Feedback_Reason" name="No_Feedback_Reason" value="{{:No_Feedback_Reason}}" class="e-field e-ejinputtext valid " /> </td>
                </tr>

            </table>

        </div>

        <div id="tab2">
            <table cellspacing="10">


                <tr>

                    <td style="text-align: right;">
                        Father's Name
                    </td>
                    <td style="text-align: left">
                        <input id="FathersName" name="FathersName" value="{{: FathersName}}" class="e-field e-ejinputtext valid "
                               style="text-align: right; width: 150px; height: 25px" />
                    </td>
                    <td style="text-align: right;">
                        Clan
                    </td>
                    <td style="text-align: left">
                        <input id="Clan" name="Clan" value="{{: Clan}}" class="e-field e-ejinputtext valid"
                               style="text-align: right; width: 150px; height: 25px" />
                    </td>

                    <td style="text-align: right;">
                        Registrar
                    </td>
                    <td style="text-align: left">
                        <input id="Registrar" name="Registrar" value="{{: Registrar}}" class="e-field e-ejinputtext valid"
                               style="text-align: right; width: 150px; height: 25px" />
                    </td>

                </tr>
            </table>


        </div>

        <div id="tabQualityIssues">
            <b>QualityIssues</b>
            <div>
                <div id="gridQualityIssues"></div>
            </div>
        </div>


    </div>
</script>



<script type="text/javascript">

    @*//var datapropertyTypes = @Html.Raw(Json.Encode(ViewBag.propertyTypes));
    var datapropertyTitle_LeaseYears = @Html.Raw(Json.Encode(ViewBag.propertyTitle_LeaseYears));*@



    function edit(args) {
        //$("#Offer_Value").ejNumericTextbox();

        $("#e_reg_date_recieved").ejDatePicker();
        $("#e_reg_date_complaint").ejDatePicker();
        $("#e_reg_date_resolved").ejDatePicker();

        $("#e_reg_expected_date_resolution").ejDatePicker();
        $("#Feedback_Date").ejDatePicker();
        $("#e_reg_contact_person_id").ejAutocomplete();//.width(250);
        $('#e_reg_complaint_category').ejDropDownList({
            dataSource: @Html.Raw(Json.Encode(ViewBag.e_reg_complaint_category)),
            width: "150px",
            fields: { value: "complaint_category_code", text: "complaint_category_desc" },
            //cascadeTo: 'CountyList',
            //cascade: "cascadeEvent",
        }).data("ejDropDownList");

        @*

        var DropDownListCounty = $('#CountyList').ejDropDownList({
            dataSource:  @Html.Raw(Json.Encode(ViewBag.Counties)),
            // fields: { id: "County_ID", text: "County_Name", value: "County_ID" },
            fields: { value: "County_ID", text: "County_Name" },
            width: "150px",
            cascadeTo: 'SubcountyList',
            cascade: "cascadeEventCounty",

        }).data("ejDropDownList");


        var DropDownListSubCounty = $('#SubcountyList').ejDropDownList({
            dataSource:  @Html.Raw(Json.Encode(ViewBag.Subcounties)),
            width: "150px",
            fields: { value: "Subcounty_ID", text: "Subcounty_Name" }
        }).data("ejDropDownList");*@



        if (args.requestType == "beginedit" || args.requestType == "add") {

            $("#dataenrtyTab").ejTab({ selectedItemIndex: 0, cssClass: "fat-lime" });
            $("#dataenrtyTab").ejTab({ hiddenItemIndex: [2] });

            @*if (args.requestType == "add") {
                // alert('Yap');
                var DropDownListProjects = $('#Project_Code').ejDropDownList({
                    dataSource: @Html.Raw(Json.Encode(ViewBag.projects)) ,
                    width: "150px",
                    fields: { id: "Project_Code", text: "Project_Desc", value: "Project_Code" }
                }).data("ejDropDownList");
            }*@


            if (args.requestType == "beginedit")
            {
                var tabObj = $("#dataenrtyTab").data("ejTab");
                hdn = tabObj.option("hiddenItemIndex");
                var i = 1;
                var j = hdn.indexOf(i);
                var val = hdn.slice(0, j);
                tabObj.option("hiddenItemIndex", val);
                tabObj.showItem(i);
                $("#dataenrtyTab").ejTab({ selectedItemIndex: 0 });
                $("#dataenrtyTab").ejTab({ heightAdjustMode: "auto", height: "250px" });

                @*var templateHeader = this.getSelectedRecords()[0].Project_Code + ' ' + this.getSelectedRecords()[0].Volume + ' ' + this.getSelectedRecords()[0].ProprietorName;
                projectcode = this.getSelectedRecords()[0].Project_Code;
                folio = this.getSelectedRecords()[0].Folio;
                volume = this.getSelectedRecords()[0].Volume;
                var dataManager = ej.DataManager("TitleMovts?projcode=" + projectcode + "&&Folio=" + folio + "&&Volume=" + volume);

                $("#gridQualityIssues").ejGrid({
                    dataSource:
                    ej.DataManager({
                        url: "TitleMovts?projcode=" + projectcode + "&&Folio=" + folio + "&&Volume=" + volume,
                        updateUrl: "DialogUpdateMovt?Project_Code=" + projectcode + "&&Folio=" + folio + "&&Volume=" + volume,
                        insertUrl: "DialogInsertMovt?Project_Code=" + projectcode + "&&Folio=" + folio + "&&Volume=" + volume,
                        removeUrl: "DialogDeleteMovt?Project_Code=" + projectcode + "&&Folio=" + folio + "&&Volume=" + volume,
                        adaptor: "UrlAdaptor"
                    }),
                    toolbarSettings: {
                        showToolbar: true,
                        toolbarItems: ["add", "edit", "delete", "update", "cancel"]
                    },
                    editSettings: {
                        allowEditing: true,
                        allowAdding: true,
                        allowDeleting: true,
                        editMode: "dialogtemplate",
                        dialogEditorTemplateID: "#movttemplate"
                    },
                    allowPaging: true,
                    columns: [
                        { field: "Project_Code", isPrimaryKey: true, type: "number", visible: false },
                        { field: "Movt_Serial_No", isPrimaryKey: true, visible: false },
                        { field: "Folio", isPrimaryKey: true, visible: false, type: "number"},
                        { field: "Volume" },
                        { field: "Title_Reference", visible: false },
                        { field: "Movement_Date", headerText: "Movement Date", width: "10%", editType: "datepicker", format: "{0:MM/dd/yyyy}", editParams: { buttonText: "Now" } },
                        { field: "Dest_Category", headerText: "Destination Category",  foreignKeyField: "DestinyCode", foreignKeyValue: "DestinyDesc", dataSource: @Html.Raw(Json.Encode(ViewBag.destinationTypes))  },
                        { field: "Destination_Address", headerText: "Address" },
                        { field: "PlotNo", headerText: "Plot No"},
                        { field: "Lawyers_ID", headerText: "Lawyer", foreignKeyField: "Lawyers_ID", foreignKeyValue: "Lawyers_Desc", dataSource: @Html.Raw(Json.Encode(ViewBag.lawyers)) },//
                        { field: "Purpose_ID", headerText: "Purpose",foreignKeyField: "Purpose_ID", foreignKeyValue: "Purpose_Description", dataSource: @Html.Raw(Json.Encode(ViewBag.movementPurposes))  },
                    ],
                    actionComplete: "complete"
                });*@


            }

            //////Change Header
            ////$('#' + this._id + '_dialogEdit').ejDialog("option", "title", templateHeader); //change dialog title

            //////Change Header
            //$('#' + this._id + '_dialogEdit').ejDialog("option", "title", "Property Title Edit"); //change dialog title




        }
    }

    function setContactPersonDetails(newVal) {
        $.ajax({

            url: 'HouseholdMembers?child_id_number=' + newVal,
            // url: '/Referral/HouseholdMembers?child_id_number=' + newVal,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: 'GET',
            success: function (datahhmember) {
                //console.log(JSON.stringify(datahhmember));
                //alert(datahhmember[0].name);
                if (datahhmember.length > 0) {
                    $('#cp_name').val(datahhmember[0].cp_name);
                    $('#child_age').val(datahhmember[0].year_of_birth);
                    $('#child_gender').val(datahhmember[0].sex);
                    setChildLocationDetails(newVal);
                    findgender(datahhmember[0].sex);

                }

            },

        });

    }


    function cascadeEvent(args) {
        args.requiresDefaultFilter = false; // restrict the built-in mapping for cascading dropdown
        args.cascadeQuery = ej.Query().where("District_ID", "equal", args.cascadeValue); // query to filter value based id
    }


    function cascadeEventCounty(args) {
        args.requiresDefaultFilter = false; // restrict the built-in mapping for cascading dropdown
        args.cascadeQuery = ej.Query().where("County_ID", "equal", args.cascadeValue); // query to filter value based id
    }
    function complete(args) {
        //$("#EmployeeID").ejNumericTextbox();
        //$("#Freight").ejNumericTextbox();
        //$("#ShipCity").ejDropDownList();

        $("#Movement_Date").ejDatePicker();

        @*//var dataprojects = @Html.Raw(Json.Encode(ViewBag.projects));
        var datadestinations = @Html.Raw(Json.Encode(ViewBag.destinationTypes));
        var datamovementPurposes = @Html.Raw(Json.Encode(ViewBag.movementPurposes));
        var datalawyers = @Html.Raw(Json.Encode(ViewBag.lawyers));*@

        var DropDownListDest_Category = $('#Dest_Category').ejDropDownList({
                dataSource: @Html.Raw(Json.Encode(ViewBag.destinationTypes)),
                // fields: { id: "County_ID", text: "County_Name", value: "County_ID" },
                fields: { value: "DestinyCode", text: "DestinyDesc" },
                width: "150px",
                //watermarkText: "Select Destination",
            }).data("ejDropDownList");

            var DropDownListmovementPurposes = $('#Purpose_ID').ejDropDownList({
                dataSource: @Html.Raw(Json.Encode(ViewBag.movementPurposes)),
                // fields: { id: "County_ID", text: "County_Name", value: "County_ID" },
                fields: { value: "Purpose_ID", text: "Purpose_Description" },
                width: "150px",
                //watermarkText: "Select Purpose"
            }).data("ejDropDownList");

            var DropDownListLawyers = $('#Lawyers_ID').ejDropDownList({
                dataSource:  @Html.Raw(Json.Encode(ViewBag.lawyers)),
                // fields: { id: "County_ID", text: "County_Name", value: "County_ID" },
                fields: { value: "Lawyers_ID", text: "Lawyers_Desc" },
                width: "150px",
                //watermarkText: "Select a Lawyer"
            }).data("ejDropDownList");


            if (args.requestType == "add") {
                // $("#Volume").ejNumericTextbox();
                // alert('Project code: ' + projectcode + ' folio: ' + folio + ' volume: ' + volume);
                @*var drpdwnProj =
                    $('#Volume').ejDropDownList({
                    dataSource: @Html.Raw(Json.Encode(ViewBag.projects)) ,
                    width: "150px",
                    fields: { id: "Project_Code", text: "Project_Desc", value: "Project_id" },
                     value: projectcode,
                    watermarkText: "Select a Project"
                }).data("ejDropDownList");*@



                //var numchecker = $("#Folio").val();
                //if (numchecker !== "" && !$.isNumeric(numchecker)) {
                //    alert('Folio N');
                //}
                //else
                //{
                //    alert('Folio Not');
                //}
                //$('#Folio').val(30000);
                //$('#Project_Code').val(5);
                //$('#Volume').val(7);

                //$("#Project_Code").prop("readonly", true);
                //$("#Folio").prop("readonly", true);
                //$("#Volum").prop("readonly", true);
                //drpdwnProj.selectItemByValue('Bukoto');
               //  drpdwnProj.selectItemByText(projectcode)
                // $("#Project_Code").ejDropDownList("selectItemByText", projectcode);
                //$('#Project_Code2').ejDropDownList("addItem", {text: "Please select Project", value: null});
            }
    }
</script>
